.masthead {
    position:relative;
    background-color: palette(black, base);
    padding:$space-2 $space-2;
    @media(min-width:$breakpoint-sm) {
        border-radius: 0px 0px $border-radius $border-radius;
    }
    @media(min-width:$breakpoint-md) {
        padding:$space-2;
    }
    z-index:3;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.22);
    &__left, &__right{
        padding: 0;
        flex:2;
        padding-left:$space-1; 
        padding-right:$space-1;
        @media(min-width:$breakpoint-md) {
            padding-left:$space-2; 
            padding-right:$space-2;
        }
    }
    &__logo {
        color: $white;
        width: 95%;
        @media(min-width:$breakpoint-sm) {
            width: 80%;
        }
        @media(min-width:$breakpoint-md) {
            width: 95%;
        }
        padding:0 $space-1;
        line-height:0;
        transform:translateY(0.125em);
    }
}

.search-button {
    //Hides search-button on mobile
    @media(min-width:$breakpoint-md) {
        display:none;
    }
}

.nav-button {
    @media(min-width:$breakpoint-sm) {
        display:none;
    }
}

.icon-button {
    color: $white;
    border-radius: $border-radius;
    width: 30px;
    height: 30px;
    .menu-icon {
        height:20px;
        width:20px;
        fill:$white;
        #stroke-middle {
            fill:red;
        }
    }
    @media(min-width:$breakpoint-md) {
        width: 35px;
        height: 35px;
        display:none;
        &:hover {
             background: $darken-3;
        }
    }
    span {
        display: flex;
        justify-content: center;
    }
}