.header {
	position:fixed;
	max-width:$container-max-width;
	left:0;
	right:0;
	margin:0 auto;
	z-index:999;
	padding:0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.22);
	@media (min-width:$breakpoint-sm) {
		border-radius: 0 0 $border-radius $border-radius;
	}
	&__top-section {
		padding:$space-2;
		box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.22);
		@media (min-width:$breakpoint-sm) {
			padding:$space-2 $space-4;
		}
		@media (min-width:$breakpoint-md) {
			padding:$space-2 $space-4;
		}
		background-color: palette(black, base);
	}

	&__left, &__right {
		flex:2;
	}
	&__middle {
		padding:$space-1 0;
	}

	&__logo {
		margin-top:$space-1;
	}

	&__happenings, &__search {
		display:inherit;
	}

	&__support-links {
		display:none;
		@media (min-width:$breakpoint-sm) {
			display:block;
		}
	}

	&__support-link {
		color:$white;
    	font-family: $rift-font-family;
    	opacity:0.75;
    	font-weight:bold;
    	font-size:0.9em;
    	margin-right:$space-3;
    	transition: opacity 0.25s;
    	&:hover {
    		opacity:1;
    	}

	}
}


.happenings__dropdown {
	position: absolute;
	width:325px;
	top:50px;
	right:10px;
	background:$white;
	border-radius:$border-radius;
	display:none;
	transform:translateY(-20px);
	z-index:3;
	transition:transform 0.4s;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.22);
	@media (min-width:$breakpoint-sm) {
		top:70px;
		right:20px;
	}
	&.active {
		transform:translateY(0);
	} 

}

.happenings__dropdown-button {
	position: relative;
	&.has-happenings {
		&::after {
			background:$orange;
			content:'';
			height:12px;
			width:12px;
			border-radius:50%;
			position: absolute;
			top:0;
			right:0;
		}
	}
}


//Desktop Search Start //
.search {
	&__input {
		position: absolute;
		right:$space-3;
		top:50%;
		display:none;
		transform:translateY(-50%);
		padding:$space-3;
		border-radius:$border-radius;
		-webkit-appearance: none;
		width:275px;
		@media (min-width:$breakpoint-lg) {
			width:350px;
		}
		font-size:0.7em;
		border:none;
		&.active {

		}
	}

	&__results {
		position: absolute;
		width:350px;
		@media (min-width:$breakpoint-lg) {
			width:350px;
		}
		height:400px;
		display:none;
		border-radius:$border-radius;
		background:white;
		top:$space-5;
		right:$space-3;
	}
}


// Add or combine classes or a more general class
.mobile-search {
	padding:$space-5 $space-2 $space-2 $space-2;
	height:100vh;
	overflow:scroll;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: palette(black, light);
	z-index:1;
	display:none;

	&__header {
    	color:$white;
    	font-family: $rift-font-family;
    	opacity:0.75;
    	font-size:0.9em;
    	margin:$space-2 0;
    	padding:$space-2 0;
    	border-bottom:1px solid palette(black, x-light);
    }

	&__suggestions {
		padding:$space-3 0;
		border-radius:$border-radius;
	}

	&__suggestions-list {
		margin-top:$space-3;

	}

	&__suggestions-list-icon {
		color:$white;
		font-size:1em !important;
		margin-right:$space-2;
		vertical-align: middle;
	}

	&__suggestions-list-item {
		color:palette(grey, base);
		font-style:italic;
		font-size:0.9em;
	}

	&__input {
		padding:$space-3;
		-webkit-appearance: none;
		border-radius:$border-radius;
		width:100%;
		font-size:0.8em;
		border:none;
	}
}


.navigation {
	background-color: palette(black, light);
	z-index:1;
	display:none;
	@media (min-width:$breakpoint-sm) {
		display:block;
		padding:$space-1 $space-4;
	}
	@media (min-width:$breakpoint-md) {
		display:block;
		padding:$space-1 $space-4;
		border-radius: 0 0 $border-radius $border-radius;
	}
	&__item {
        display:inline-block;
		padding:$space-2 $space-3;

    }
    &__link {
    	&.active, &:hover {
			opacity:1;
			.navigation__icon-wrapper {
				@include themify {
		            background-color: $color-primary;
		        }
			}
			.navigation__icon {
				transform: translateY(100%);
			}
		}
		opacity:0.45;
        color: $white;
        font-size: 1em;
        font-family: $rift-font-family;
        font-weight: bold;
        white-space: nowrap;
        transition: opacity 0.2s;
    }
    &__icon-wrapper {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin-right:$space-1;
        height: 24px;
        width: 24px;
        transition: background-color 0.2s;
        border-radius: $border-radius;
        background-color: none;
    }
    &__icon {
        transition: transform 0.25s;
        @include themify {
            height: 24px;
            width: 24px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: $icon;
            &::before {
                content: '';
                position: absolute;
                left:0;
                transform: translateY(-100%);
                height: 24px;
                width: 24px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-image: $icon;
            }
        }
    }

}


.mobile-navigation, .menu-button, .mobile-search, .mobile-search-button{
	@media (min-width:$breakpoint-sm) {
		display:none;
	}
}

.search-button {
	display:none;
	@media (min-width:$breakpoint-sm) {
		display:block;
	}
}

.mobile-navigation {
	padding:$space-5 $space-2 $space-2 $space-2;
	min-height:100vh;
	overflow:scroll;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: palette(black, light);
	z-index:1;
	display:none;
	&__item {
        display:block;
		padding:$space-2 0;
    }
    &__link {
    	&.active {
			opacity:1;
		}
		opacity:0.65;
        color: $white;
        font-size: 1.2em;
        font-family: $rift-font-family;
        font-weight: bold;
        white-space: nowrap;
        transition: opacity 0.2s;
    }
    &__icon-wrapper {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin-right:$space-2;
        height: 24px;
        width: 24px;
        transition: background-color 0.2s;
        border-radius: $border-radius;
        @include themify {
            background-color: $color-primary;
        }
    }
    &__icon {
        transition: transform 0.25s;
        @include themify {
            height: 24px;
            width: 24px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: $icon;
        }
    }

    &__header {
    	color:$white;
    	font-family: $rift-font-family;
    	opacity:0.75;
    	font-size:0.9em;
    	margin:$space-2 0;
    	padding:$space-2 0;
    	border-bottom:1px solid palette(black, x-light);
    }

    &__support-link {
    	color:$white;
    	font-size:1.1em;
    	font-weight:bold;
    	font-family: $rift-font-family;
    }

	&.active {
		transform:translateY(0%);
	}
}

#main-content {
	transition: transform 0.5s;
}

#main-content.menu-open {
	transform:translateY(-20px);
}

.icon-button {
	height:30px;
	width:30px;
	background:palette(black, x-light);
	border-radius:50%;
	position: relative;
	transition:background 0.25s, transform 0.25s;
	&:hover {
		background:palette(black, xx-light);
		transform:scale(0.95);
	}

	@media (min-width:$breakpoint-sm) {
		height:40px;
		width:40px;
	}

	&__icon {
		position:absolute;
		color:$white;
		font-size:18px !important;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
	}
}




