.landing-header {
	&__img-container {
		padding-bottom:125%;
		position:relative;
		overflow: hidden;
		background-color:palette(black, base);
		@media(min-width:$breakpoint-md) {
			padding-bottom:56.25%;
		}
		&::before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index: $z2;
			background:rgba(0,0,0,0.35);
		}
	}
	&__img {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		z-index:$z1;
	}

	&__logo {
		position:absolute;
		top:50%;
		left:50%;
		width:250px;
		@media(min-width:$breakpoint-sm) {
			width:500px;
		}
		transform:translate(-50%, -50%);
		z-index: $z3;
	}
}

.landing-eu {
	border-radius:$border-radius;
	@media (min-width:$breakpoint-sm){
		position:absolute;
		bottom:0;
		left:0;
		right:0;
	}
	&__inner {
		background:$black;
		padding:$space-3 0;
		@media (min-width:$breakpoint-sm){
			padding:$space-3;
		}
	}

	&__btn {
		width:100%;
		@media (min-width:$breakpoint-sm){
			float:right;
		}
	}

	&__paragraph {
		font-size:1rem;
		@media (min-width:$breakpoint-sm){
			font-size:0.9rem;
		}
	}
}

.landing-happenings {
	padding:$space-3 0;
}

.landing-concepts {
	z-index:$z4;
	position:relative;
	&__item {

	}

	&__header {

	}
	&__title {
		font-family:$rift-font-family;
		font-weight:bold;
		font-size:$h3;
		@media (min-width:$breakpoint-sm){
			font-size:$h3;

		}
	}

	&__badge {
		@media (min-width:$breakpoint-sm){
			height:35px;
			width:35px;
		}
		height:35px;
		width:35px;
		border-radius:50%;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		background:$orange;
	}

	&__icon {
		height:15px;
		width:15px;
		fill:$white;
		@media (min-width:$breakpoint-sm){
			height:15px;
			width:15px;
		}
	}
}