.cookie-banner {
	position:fixed;
	width:100%;
	left:0;
	right:0;
	bottom:0;
	color:$white;
	z-index:999;
	padding:$space-3 $space-3;

	&__link {
		color:$white;
		text-decoration: underline;
	}
	&__policy {
		color:palette(grey, light);
		line-height:1.25;
		font-size:0.9rem;
	}
	&__inner {
		position:relative;
		background: palette(black, dark);
		padding:$space-4 $space-5 $space-4 $space-4;
		border-radius:$border-radius;
	}
	&__button {
		background:palette(black, light);
		position:absolute;
		top:$space-3;
		right:$space-3;
	}
}