.concept-thumbnail {
	&__img-container {
		padding-bottom:100%;
		position:relative;
		overflow: hidden;
		border-radius:$border-radius;
		background-color:palette(black, base);
		&::after {
	 		content:'';
	 		position:absolute;
	 		bottom:0;
	 		left:0;
	 		right:0;
	 		z-index:1;
	 		height:65%;
	 		width:100%;
	 		@include scrimGradient(palette(black, dark), 'to top');
	 	}
	}
	&__img {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		z-index:$z1;
	}

	&__icon {
		border-radius:$border-radius;
		position:absolute;
		top:$space-2;
		left:$space-2;
		z-index:$z3;
		@include themify {
	        height:25px;
	        width:25px;
	        background-size:70%;
	        background-position:center;
	        background-repeat:no-repeat;
	        background-color:$color-primary;
	        background-image:$icon;
	    }
	}

	&__inner {
		position:absolute;
		bottom:$space-2;
		left:$space-3;
		width:100%;
		z-index: $z3;
	}

	&__title {
		font-size:1.8rem;
		color:$white;
		@media(min-width:$breakpoint-sm) {
			font-size:1.9rem;
		}
	}
}