//Spotlights depends on this //

.featured-grid {
    margin:-$space-2;
    &__item {
        padding:$space-2;
        &--large {
            height:400px;
            @media (min-width:$breakpoint-sm) {
                height:500px;
            }
            @media (min-width:$breakpoint-md) {
                height:600px;
            }
            @media (min-width:$breakpoint-lg) {
                height:700px;
            }
        }
        &--medium {
            height:300px;
            @media (min-width:$breakpoint-sm) {
                height:450px;
            }
            @media (min-width:$breakpoint-lg) {
                height:525px;
            }
        }

        &--small {
            height:300px;
            @media (min-width:$breakpoint-sm) {
                height:300px;
            }
            @media (min-width:$breakpoint-lg) {
                height:350px;
            }
        }
    }
}
