.DS_Store
*.log
# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Cache
web/app/cache
web/app/ewww
web/app/cache/*
!web/app/cache/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Scannerwork/Sonarcube - used for code quality testing
.scannerwork