.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms;
  z-index: 9999;
  height: 100%;
  background-color:$black;
  &--hide {
    opacity: 0;
    visibility: hidden;
    .progress-bar__spinner {
        opacity:0;
        transform:translate(-50%, -100%);
    }
  }
}

.progress-bar__spinner {
  display: block;
  position: fixed;
  opacity:1;
  transform:translate(-50%, -50%);
  top: 50%;
  left:50%;
}


.progress-bar__spinner-icon {
    width: 50px;
    height: 50px;
    background:palette(black, light);
    position:relative;
    border-radius: $border-radius;
    overflow: hidden;
    &::after {
        content:'';
        height:50px;
        width:50px;
        position:absolute;
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M34.027 9.647c-8.08 0-21.696 12.618-21.696 24.373 0 4.267 2.406 6.627 6.219 6.627 6.58 0 14.115-7.988 17.928-12.436.544-.636.817-.953.817-1.453 0-.499-.318-.726-.817-.726-.545 0-1.135.635-1.725 1.452-2.905 3.813-9.758 10.939-16.158 10.939-2.315 0-3.767-1.997-3.767-4.584 0-10.122 12.663-22.15 19.063-22.15.953 0 1.407.545 1.407 1.317 0 2.723-2.633 6.218-4.63 6.672-1.407.317-1.634 1.09-1.634 1.634 0 .635.409.953 1.362.953 2.405 0 7.353-5.401 7.353-9.305 0-2.314-1.544-3.313-3.722-3.313z'/%3E%3C/svg%3E");
        animation: progress-spinner 1000ms infinite;
    }
    @keyframes progress-spinner {
        0% {
            transform: translateY(100%);
        }
        35% {
            transform: translateY(0%);
        }
        65% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}