.footer {
	position:relative;
	background-color:palette(black, base);
	padding-top:$space-5;
	max-width: $container-max-width;
	margin:0 auto;


	&__content {
		padding:$space-4 0;
	}

	&__column {
		margin-top:$space-4;
		@media(min-width:$breakpoint-sm) {
			padding:0 $space-4;
		}
		padding:0;
	}
	&__column-header {
		color:$white;
    	font-family: $rift-font-family;
    	opacity:0.75;
    	font-size:1rem;
    	@media (min-width:$breakpoint-sm){
    		font-size:0.9rem;
    	}
    	margin:$space-2 0;
    	padding:$space-2 0;
    	border-bottom:1px solid palette(black, x-light);
		margin-bottom:$space-2;
		display:block;
	}

	&__list {

	}

	&__left, &__right {
		@media (min-width:$breakpoint-sm) {
			padding:0 $space-3;
		}
	}

	&__list-item {
		font-size:1rem;
		font-family: $rift-font-family;
		margin-top:$space-2;
    	opacity:0.75;
    	font-weight:bold;
    	transition: opacity 0.25s;
    	&:hover {
    		opacity:1;
    	}
	}

	&__link {
		color:$white;
		font-weight:bold;
	}
}


.footer-nav {
	&__item {
		padding:$space-2 0;

    }
    &__link {
    	&.active, &:hover {
			opacity:1;
			.footer-nav__icon-wrapper {
				@include themify {
		            background-color: $color-primary;
		        }
			}
			.footer-nav__icon {
				transform: translateY(100%);
			}
		}
		opacity:0.45;
        color: $white;
        font-size: 1em;
        font-family: $rift-font-family;
        font-weight: bold;
        white-space: nowrap;
        transition: opacity 0.2s;
    }
    &__icon-wrapper {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin-right:$space-1;
        height: 24px;
        width: 24px;
        transition: background-color 0.2s;
        border-radius: $border-radius;
        background-color: none;
    }
    &__icon {
        transition: transform 0.25s;
        @include themify {
            height: 24px;
            width: 24px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: $icon;
            &::before {
                content: '';
                position: absolute;
                left:0;
                transform: translateY(-100%);
                height: 24px;
                width: 24px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-image: $icon;
            }
        }
    }
}

.footer__intro, .footer__eu-paragraph{
	font-size:1rem;
	@media (min-width:$breakpoint-sm){
		font-size:0.9rem;
	}
	color:$white;
}


.footer__eu {
	background:palette(black, dark);
	border-radius:$border-radius;
	padding:$space-3;
	@media (min-width:$breakpoint-md) {
		padding:$space-4;
	}
	margin-top:$space-6;
}
