.author {
	display:inline-flex;
	align-items:center;
	&__img {
		border-radius:$border-radius;
	}
	&__bio {
		flex:1;
		margin-left:$space-2;
		vertical-align: middle;
	}
	&__title {
		font-style:italic;
		color:palette(grey, x-dark);
		font-size:0.8rem;
		margin-top:$space-1;
		line-height: 1.2;
	}
	&__name {
		color:palette(black, light);
		font-size:1.1rem;
		font-family: $rift-font-family;
		font-weight:bold;
	}
}