.btn {
	font-family: inherit;
	font-size: 1em;
	text-decoration: none;
	line-height: 1.125rem;
	font-family:$rift-font-family;
	font-weight:bold;
	padding: 0.9em $space-3;
	height: auto;
	border: 1px solid transparent;
	border-radius: $border-radius;
	vertical-align: middle;
	-webkit-appearance: none;
	transition:transform 0.25s;
	background:palette(black, base);
	color:$white;
	&__icon {
		fill:$white;
		margin-right:$space-1;
	}
	&--primary {
		@include themify {
			background-color:$color-primary;
			background-repeat:repeat;
			background-size:100%;
			color:$white;
		}
	}
}