.happening-info {
	border-radius:$border-radius;
	background-color:palette(black, light);
	overflow:hidden;
	font-weight:bold;
	font-family:$rift-font-family;

	&__section-label {
		font-size:0.9rem;
		color:palette(grey, x-light);
		display:block;
	}

	&__a {
		display:block;
		font-size:1.1rem;
		color:$white;
	}

	&__icon {
		fill:$white;
	}

	&__date {
		font-size:1.35rem;
		color:$white;
	}

}