.section-header {
	display:flex;
	&__icon {
		fill:$white;
	}
	&__icon-wrapper {
		border-radius:$border-radius;
		height:30px;
		width:30px;
		@include themify() {
			background-color:$color-primary;
		}
	}
	&__title {
		font-weight:bold;
		margin-left:$space-2;
		align-items:center;
		font-family:$rift-font-family;
		position:relative;
		font-size:1.2rem;
	}
}