.article-mention {
	&__img {
		border-radius:$border-radius;
	}
	&__title {
		font-size:1.5rem;
	}
	&__label {
		font-family: $shelby-font-family;
		color:palette(grey, x-dark);
		font-size:1.2em;
	}
}