.article-mentions {
	padding:$space-3 0;
	&__header {
		margin-top:$space-3;
		&::after {
			content:'';
			display:block;
			width:20px;
			height:5px;
			margin:$space-3 0;
			border-radius:$border-radius;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
	}
}

.article-mention {
	position:relative;
	&__img {
		border-radius:$border-radius;
	}
	&__title {
		font-size:1.5rem;
	}
	&__label {
		font-family: $shelby-font-family;
		color:palette(grey, x-dark);
		font-size:1.2em;
	}
	&__content {
		position:relative;
		padding-left:$space-3;
		padding-right:$space-3;
	}
}