.day-in-halland {
	margin-top:$space-5;
	background-color:palette(black, light);
	overflow:hidden;
}


.day-in-halland__content {
	padding-top:$space-5;
	padding-bottom:$space-5;
}


.day-in-halland__mockup-section {
	padding-top:$space-3;
	padding-bottom:$space-3;
	@media (max-width:$breakpoint-sm) {
		display:none;
		padding:0;
	}
}

.day-in-halland__mockup {
	max-width:90%;
}


.day-in-halland__title {
	font-size:$h1;
	color:$white;
	margin-top:$space-2;
	margin-bottom:$space-3;
	line-height:1.1;
}

.day-in-halland__desc {
	max-width:80%;
}


.day-in-halland__badge {
	border-radius:20px;
	background:$darken-3;
	font-family:$rift-font-family;
	font-size:0.8rem;
	display:inline-block;
	padding:$space-1 0.875rem;
}