.page {
	&__sidebar {
		margin-top:$space-5;
		@media(min-width:$breakpoint-sm) {
			padding-right:$space-3;
		}
	}
	&__body {
		margin-top:$space-5;
		@media(min-width:$breakpoint-sm) {
			padding-left:$space-3;
			float:right;
		}
	}

}

.page-header {
	&__backdrop {
		background-color:palette(black, dark);
	}
	&__inner {
		z-index:2;
		position: relative;
		padding-top:$space-5;
		transform:translateY($space-5);
	}

	&__img-container {
		display:inline-block;
		margin:$space-4 0;
		position: relative;
		overflow: hidden;
		border-radius:$border-radius;
		padding-bottom:56.25%;
		background-color:palette(black, dark);
	}

	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
}