// Project Settings
// This is used for setting color variables, spacing, fonts and more.
@import 'settings/settings';


$st-primary-color : #6A7B7B;
$st-secondary-color : #CF9E23;
$st-font: 'Mindset-Slim';

// Mixins
@import 'mixins/spacing';
@import 'mixins/palette';
@import 'mixins/scrim';
@import 'mixins/fade-text';
@import 'mixins/themes';

// Base
@import 'base/reset';
@import 'base/base';

// Config - Uses variables from settings.scss
@import 'utilities/type-scale';
@import 'utilities/typography';
@import 'utilities/layout';
@import 'utilities/align';
@import 'utilities/margin';
@import 'utilities/padding';
@import 'utilities/grid';
@import 'utilities/flexbox';
@import 'utilities/position';
@import 'utilities/border-radi';
@import 'utilities/container';
@import 'utilities/container';
@import 'utilities/aspect-ratio';
@import 'utilities/lazy-load';
@import 'utilities/topographic-pattern';
@import 'utilities/icons';
@import 'utilities/theme-icon';
@import 'utilities/scrim-gradient';

// Generic and Reusable Components
@import 'components/button';
@import 'components/image-credit';
@import 'components/icon-button';
@import 'components/date-badge';
@import 'components/read-more';
@import 'components/article-tag';

@import './header/external-header';

@import './skordetider/article';
@import './article/image-blurb';

// Skördetider
@import './skordetider/image-container';
@import './skordetider/week';
@import './skordetider/map';
@import './skordetider/list';
@import './skordetider/carousel';
@import './skordetider/thumbnail';
@import './skordetider/category';
@import './skordetider/navigation';
@import './skordetider/vegetables';
@import './skordetider/st-partners';


// Typekit
@import url('https://use.typekit.net/vzi2bvt.css');
@import url("//hello.myfonts.net/count/36fd5f");

@font-face {font-family: 'Mindset-Slim';src: url('../fonts/36FD5F_1_0.woff2') format('woff2'),url('../fonts/36FD5F_1_0.woff') format('woff'),url('../fonts/36FD5F_1_0.ttf') format('truetype');}
