@tailwind preflight;


/**
 * This injects any component classes registered by Tailwind plugins.
 */
@tailwind components;

// Components used for a day in halland only
// Mixins
@import 'mixins/scrim';
@import 'mixins/fade-text';
@import 'mixins/themes';

// Base
@import 'base/base';

// Utilities
@import 'utilities/accessibility';
@import 'utilities/container';
@import 'utilities/aspect-ratio';
@import 'utilities/order';
@import 'utilities/lazy-load';
@import 'utilities/topographic-pattern';
@import 'utilities/icons';
@import 'utilities/center';
@import 'utilities/scrim-gradient';


// Generic and Reusable Components
@import 'components/read-more';
@import 'components/breadcrumbs';
@import 'components/scroll-indicator';
@import 'components/infinite-scroll';


@import 'day-in-halland/animations';
@import 'day-in-halland/card';
@import 'day-in-halland/shimmer';
// @import 'day-in-halland/progress';
// @import 'day-in-halland/day-in-halland';
// @import 'day-in-halland/date';
// @import 'day-in-halland/activity';
// @import 'day-in-halland/result';
// @import 'day-in-halland/btn';

@import url('https://use.typekit.net/vzi2bvt.css');


html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;