

@import 'settings/settings';

// Mixins
@import 'mixins/spacing';
@import 'mixins/palette';
@import 'mixins/themes';

// Base
@import 'base/reset';
@import 'base/base';

// Config
// Uses variables from settings.scss
@import 'config/type-scale';
@import 'config/typography';
@import 'config/layout';
@import 'config/align';
@import 'config/margin';
@import 'config/padding';
@import 'config/grid';
@import 'config/flexbox';
@import 'config/position';

@import 'components/button';
@import 'components/date-badge';
@import 'components/read-more';
@import 'components/icons';
@import 'components/icon-button';
@import 'components/topographic-pattern';

@import url('https://use.typekit.net/vzi2bvt.css');



.btn.loading {
	position:relative;
	overflow:hidden;
}


.btn::after{
	content:'';
	left:0;
	top:0;
	opacity:0;
	position: absolute;
	background: palette(black, base);
	background-image: linear-gradient(to right, palette(black, base) 0%, palette(black, xx-light) 20%, palette(black, base) 40%, palette(black, base) 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: ease-in-out;
	width:100%;
	height:100%;
	transition:opacity 0.25s;
}




.btn.loading::after{
	opacity:0.8;
}

.ful-router a{
    color:white;
    display:none;
    padding:0.5rem;
    background:red;
    border:1px solid black;
    border-radius: $border-radius;
}


.weather {

}

.weather__p {
	color:palette(black, x-light);
	font-weight:300;
}


#weather-icon__cloud {

}

.card {
  overflow:hidden;
  border-radius:4px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:$white;
  margin-bottom:$space-3;
}

.card__header {
	background-color:palette(black, base);
	padding:1.25rem 1rem;
}

.card__title {
	color:$white;
	font-size:1.35rem;
	margin-top:$space-2;
	font-family:$rift-font-family;
}

.card__content {
  padding:1rem;
  min-height:400px;
  max-height:400px;
  overflow:scroll;
}


.card__button {
  font-size:1rem;
  font-family:$rift-font-family;
  color:lightgrey;
  &:active {
    color:grey;
  }
}


//Right to left

.fade-leave-active, .fade-enter-active {
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin:bottom center;

}

.fade-enter {
	transform:translateX(110%) rotate(5deg);
	opacity:0;
}

.fade-enter-to {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-leave {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-leave-to {
	transform:translateX(-110%) rotate(-5deg);
	opacity:0;
}




//Left to right

.fade-right-leave-active, .fade-right-enter-active {
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin:bottom center;

}

.fade-right-enter {
	transform:translateX(-110%) rotate(-5deg);
	opacity:0;
}

.fade-right-enter-to {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-right-leave {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-right-leave-to {
	transform:translateX(110%) rotate(5deg);
	opacity:0;
}




@keyframes fadeInUp {
	from {
		opacity:0;
		//transform:translateY(50%);
	}
	to {
		opacity:1;
		//transform:translateY(0%);
	}
}


.date, .activity, .result {
	opacity:0;
	animation-delay: 0.25s;
	animation: fadeInUp 0.75s;
	animation-fill-mode:forwards;
}


.date {
	display:flex;
	align-items:center;
	margin-bottom:$space-3;
}

.date__content {
	text-align:top;
	padding-left:$space-2;
}

.date__title {
	font-size:$h3;
}


.activity {
	display:inline-flex;
	align-items:center;
}

.activity__img {
	height:75px;
	width:75px;
	border-radius:$border-radius;
	background-color:palette(grey, light);
}

.activity__title {
	font-size:$h3;
}


.shimmer {
	display:inline-flex;
	align-items:center;
	margin-bottom:$space-3;
}

.shimmer__img, .shimmer__title, .shimmer__link, .shimmer__button {
	background: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: ease-in-out;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.shimmer__img {
	height:75px;
	width:75px;
	border-radius:$border-radius;
}

.shimmer__title {
	height:30px;
	width:140px;
	border-radius:$border-radius;
}

.shimmer__link {
	height:20px;
	width:100px;
	border-radius:$border-radius;
	display:inline-block;
}

.shimmer__button {
	height:20px;
	width:20px;
	border-radius:$border-radius;
	display:inline-block;
	margin-left:$space-1;
}



.result {
	display:inline-flex;
	align-items:flex-start;
}

.result__img {
	height:90px;
	width:90px;
	border-radius:$border-radius;
	background-color:palette(grey, light);
}

.result__title {
	font-size:$h3;
}

.result-header {
	font-size:1.2rem;
	margin:$space-2 0;
	color: palette(black, light);
	font-family:$rift-font-family;
	font-weight:bold;
}


.progress-bar {
  width:50px;
  margin-top:1rem;
  height:8px;
  background:rgba(255,255,255,0.4);
  border-radius:8px;
  position:relative;
  overflow:hidden;
}

.progress-bar__indicator {
  width:100%;
  left:-100%;
  background:rgba(255,255,255,0.8);
  height:100%;
  transition: transform 0.25s;
  transform:translateX(0%);
  position:absolute;
}


.card-container {
	display:block;
}

.dh-landing {
	height:100vh;
	width:100%;
	overflow:hidden;
	background:palette(black, x-dark);
	position:relative;
}

.dh-landing__img {
	position:absolute;
	height:100%;
	width:auto;
	@media (min-width:$breakpoint-md) {
		height:auto;
		width:100%;
	}
	top:50%;
	left:50%;
	opacity:0.5;
	transform:translate(-50%, -50%);
}

.dh-landing__title {
	color:$white;
	text-align:center;
	width:100%;
	white-space:nowrap;
}


.wizard {
	display:flex;
	justify-content:flex-end;
	height:100%;
	overflow:hidden;
	flex-direction:column;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	z-index:$z3;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:$space-3;
	@media (min-width:$breakpoint-md) {
		overflow:visible;
	}
}

.offline-bar{
    background:#ff0036;
    font-family:$rift-font-family;
    position:fixed;
    font-weight:bold;
    top:0;
    left:0;
    right:0;
    width:100%;
}

.offline-bar__inner {
	padding:$space-1;
	font-size:0.9rem;
	display:flex;
	color:$white;
	justify-content:center;
	align-items:center;
}
