@import 'settings/settings';

// Mixins
@import 'mixins/spacing';
@import 'mixins/palette';
@import 'mixins/themes';

// Base
@import 'base/reset';
@import 'base/base';

// Config
// Uses variables from settings.scss
@import 'config/type-scale';
@import 'config/typography';
@import 'config/layout';
@import 'config/align';
@import 'config/margin';
@import 'config/padding';
@import 'config/grid';
@import 'config/flexbox';
@import 'config/position';


//General components
@import 'components/button';
@import 'components/date-badge';
@import 'components/read-more';
@import 'components/icons';
@import 'components/icon-button';
@import 'components/topographic-pattern';
@import 'components/section-header';
@import 'cookies/cookies';

//Header
@import './header/support-header';


//Components used for a day in halland only
@import 'day-in-halland/animations';
@import 'day-in-halland/card';
@import 'day-in-halland/shimmer';
@import 'day-in-halland/progress';
@import 'day-in-halland/day-in-halland';
@import 'day-in-halland/offline-bar';
@import 'day-in-halland/date';
@import 'day-in-halland/activity';
@import 'day-in-halland/result';
@import 'day-in-halland/btn';

@import url('https://use.typekit.net/vzi2bvt.css');


html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}