.page-happening-header__img-container {
	height:400px;
	position:relative;
	overflow: hidden;
	background-color:palette(black, base);
	@media(min-width:$breakpoint-md) {
		height:500px;
	}
}

.page-happening-header__title {
	font-size:2.55em;
	@media(min-width:$breakpoint-sm) {
		font-size:3.15em;
	}
	@media(min-width:$breakpoint-md) {
		font-size:2.8em;
	}
	@media(min-width:$breakpoint-lg) {
		font-size:3.15em;
	}
}

.page-happening-header__p {
	color:palette(grey, light);
	display:none;
	font-size:0.95rem;
	font-style:italic;
	@media(min-width:$breakpoint-sm) {
		display:block;
	}
	@media(min-width:$breakpoint-lg) {
		width:80%;
	}
}

.page-happening-header__content {
	z-index:$z2;
	padding-bottom:$space-5;
	@media(min-width:$breakpoint-sm) {
		padding-bottom:$space-5;
	}
	@media(min-width:$breakpoint-md) {
		padding-bottom:$space-5;
	}
}