.happening-list-item {
	position:relative;
	@media(min-width:$breakpoint-md) {
		.article-link {
			&__divider, &__text, &__icon-wrapper {
				opacity:0;
				transition:transform 0.25s, opacity 0.25s;
				transform:translateY(10px);
			}
		}
		&:hover, &:focus {
			.article-link {
				&__divider, &__text, &__icon-wrapper {
					opacity:1;
					transform:translateY(0px);
				}
				&__text {
					transition-delay:0.1s;
				}
				&__icon-wrapper {
					transition-delay:0.2s;
				}
			}
		}
	}
	&__img-container{
		position:relative;
		border-radius:$border-radius;
		overflow: hidden;
		padding-bottom:100%;
		background-color:palette(black, base);
	}
	&__title {
		font-size:1.25rem;
		font-family: $rift-font-family;
		color:palette(black, base);
		font-weight:bold;
	}
	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	&__date {
		position:absolute;
		top:-$space-2;
		left:-$space-2;
	}
	&__content {
		position:relative;
		padding-left:$space-3;
	}
}