.happening-list-item {
	position:relative;
	&__img-container{
		position:relative;
		border-radius:$border-radius;
		overflow: hidden;
		padding-bottom:100%;
		background-color:palette(black, base);
	}
	&__title {
		font-size:1.35rem;
		font-family: $rift-font-family;
		color:palette(black, base);
		font-weight:bold;
	}
	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	&__date {
		position:absolute;
		top:-$space-1;
		left:-$space-1;
	}
	&__content {
		position:relative;
		padding-left:$space-3;
	}
}