.happening__content {
	@screen md {
		padding-right:$space-4;
	}
}


.happening-info {
	border-radius:$border-radius;
	background-color:palette(black, light);
	overflow:hidden;
	margin-top:$space-3;
	@screen md {
		margin-top:0;
	}
	&__inner {
		display:block;
		padding:$space-3;
		@screen sm {
			padding:$space-3 $space-4;
		}
	}
	&__map {
		height:250px;
		width:100%;
		background:black;
	}

	&__section {
		margin:$space-3 0;
	}
	&__section-label {
		font-weight:bold;
		font-family:$rift-font-family;
		font-size:0.9rem;
		color:palette(grey, x-light);
		margin-bottom:$space-2;
		display:block;
	}

	&__a {
		display:block;
		font-weight:bold;
		font-family:$rift-font-family;
		font-size:1.1rem;
		color:$white;
	}

	&__icon {
		fill:$white;
	}

	&__date {
		display:block;
		font-weight:bold;
		font-family:$rift-font-family;
		font-size:1.35rem;
		color:$white;
	}

}