.page-happening-header__img-container {
	height:400px;
	position:relative;
	overflow: hidden;
	background-color:palette(black, base);
	@screen md {
		height:500px;
	}
}

.page-happening-header__title {
	font-size:2.55em;
	@screen sm {
		font-size:3.15em;
	}
	@screen md {
		font-size:2.8em;
	}
	@screen lg {
		font-size:3.15em;
	}
}

.page-happening-header__p {
	color:palette(grey, light);
	display:none;
	font-size:0.95rem;
	font-style:italic;
	@screen sm {
		display:block;
	}
	@screen lg {
		width:80%;
	}
}

.page-happening-header__content {
	z-index:$z2;
	padding-bottom:$space-5;
	@screen sm {
		padding-bottom:$space-5;
	}
	@screen md {
		padding-bottom:$space-5;
	}
}