

@mixin divider() {
	&::after {
		content:'';
		display:block;
		width:15px;
		height:5px;
		border-radius:2px;
		margin:$space-2 0;
		@media (min-width:$breakpoint-md) {
			margin:$space-3 0;
		}
		background-color:palette(grey, light);
	}
}