.fade-text {

	//TODO: Fix max-height
	@apply relative max-h-4 overflow-hidden;
	@screen md {
		@apply max-h-5;
	}
	&::after{
		content:'';
		width:100%;
		height:100%;    
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		background:linear-gradient(rgba(255, 255, 255, 0), $white);
	}
}
