$themes: (
  'visithalland': (
    'primary': #083644,
    'secondary': lighten(#083644, 5%),
    'icon': url("../images/coastal-living.svg")
  ),
  'spa-wellness': (
    'primary': #48A5AA,
    'secondary': lighten(#48A5AA, 5%),
    'icon': url("../images/spa-wellness.svg")
  ),
  'winter': (
    'primary': #D95757,
    'secondary': lighten(#D95757, 5%),
    'icon': url("../images/winter.svg")
  ),
  'golf': (
    'primary': #308669,
    'secondary': lighten(#308669, 5%),
    'icon': url("../images/golf.svg")
  ),
  'shopping': (
    'primary': #D95757,
    'secondary': lighten(#D95757, 5%),
    'icon': url("../images/golf.svg")
  ),
  'beach-coast': (
    'primary': #3976A2,
    'secondary': lighten(#3976A2, 5%),
    'icon': url("../images/beach-coast.svg")
  ),
  'food-culture': (
    'primary': #D95757,
    'secondary': lighten(#D95757, 5%),
    'icon': url("../images/food-culture.svg")
  ),
  'hiking-biking': (
    'primary': #308669,
    'secondary': lighten(#308669, 5%),
    'icon': url("../images/hiking-biking.svg")
  ),
  'camping-friends': (
    'primary': #6394B8,
    'secondary': lighten(#6394B8, 5%),
    'icon': url("../images/camping-friends.svg")
  )

) !default;

$color-primary: null;
$color-secondary: null;
$icon: null;

@mixin themify($themes: $themes) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.#{$theme},
    .#{$theme} & {
      // Set the theme variables with `!global`
      $color-primary: map-get($colors, 'primary') !global;
      $color-secondary: map-get($colors, 'secondary') !global;
      $icon: map-get($colors, 'icon') !global;

      // Output user content
      @content;

      // Unset the theme variables with `!global`
      $color-primary: null !global;
      $color-secondary: null !global;
      $icon: null !global;
    }
  }
}



//Theme Utilities
.bg-theme {
    @apply bg-blue-light;
    @include themify {
      background-color:$color-primary;
    }
}

.theme-icon {
    @apply inline-block align-middle relative overflow-hidden h-8 w-8 rounded-full;
    transition: background-color 0.2s;
    @include themify {
      background-color:$color-primary;
    }
}

.theme-icon__inner {
    @apply absolute h-6 w-6;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    @include themify {
        background-image: $icon;
    }
}