$themes: (
  'visithalland': (
    'primary': #083644,
    'secondary': #083644,
    'icon': url("../images/coastal-living.svg")
  ),
  'spa-wellness': (
    'primary': #48A5AA,
    'secondary': #083644,
    'icon': url("../images/spa-wellness.svg")
  ),
  'golf': (
    'primary': #48A5AA,
    'secondary': #083644,
    'icon': url("../images/golf.svg")
  ),
  'shopping': (
    'primary': #D95757,
    'secondary': #083644,
    'icon': url("../images/golf.svg")
  ),
  'beach-coast': (
    'primary': #3976A2,
    'secondary': #083644,
    'icon': url("../images/beach-coast.svg")
  ),
  'food-culture': (
    'primary': #D95757,
    'secondary': #083644,
    'icon': url("../images/food-culture.svg")
  ),
  'hiking-biking': (
    'primary': #308669,
    'secondary': #228153,
    'icon': url("../images/hiking-biking.svg")
  ),
  'camping-friends': (
    'primary': #6394B8,
    'secondary': #5598D6,
    'icon': url("../images/camping-friends.svg")
  )

) !default;

$color-primary: null;
$color-secondary: null;
$icon: null;

@mixin themify($themes: $themes) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.#{$theme},
    .#{$theme} & {
      // Set the theme variables with `!global`
      $color-primary: map-get($colors, 'primary') !global;
      $color-secondary: map-get($colors, 'secondary') !global;
      $icon: map-get($colors, 'icon') !global;

      // Output user content
      @content;

      // Unset the theme variables with `!global`
      $color-primary: null !global;
      $color-secondary: null !global;
      $icon: null !global;
    }
  }
}