$themes: (
  'coastal-living': (
    'primary': #083644,
    'icon': url("../images/coastal-living.svg")
  ),
  'spa-wellness': (
    'primary': #48A5AA,
    'icon': url("../images/spa-wellness.svg")
  ),
  'beach-coast': (
    'primary': #FFA75F,
    'icon': url("../images/beach-coast.svg")
  ),
  'food-culture': (
    'primary': #EC5050,
    'icon': url("../images/food-culture.svg")
  ),
  'hiking-biking': (
    'primary': #19934A,
    'icon': url("../images/hiking-biking.svg")
  ),
  'camping-friends': (
    'primary': #41A6D8,
    'icon': url("../images/camping-friends.svg")
  )

) !default;

$color-primary: null;
$color-secondary: null;
$icon: null;

@mixin themify($themes: $themes) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.#{$theme},
    .#{$theme} & {
      // Set the theme variables with `!global`
      $color-primary: map-get($colors, 'primary') !global;
      //$color-secondary: map-get($colors, 'secondary') !global;
      $icon: map-get($colors, 'icon') !global;

      // Output user content
      @content;

      // Unset the theme variables with `!global`
      $color-primary: null !global;
      $color-secondary: null !global;
      $icon: null !global;
    }
  }
}