.spotlight-content {
	z-index:$z3;
	position:relative;
	margin-top:-$space-4;
	@media(min-width:$breakpoint-sm) {
		margin-top:-$space-5;
	}
	@media(min-width:$breakpoint-lg) {
	}
}

.spotlight-grid {
	@media (min-width:$breakpoint-sm) {
		margin:0 -$space-3;
	}
}


.spotlight-grid-item {
	margin:$space-3 0;
	@media (min-width:$breakpoint-sm) {
		padding:0 $space-3;
	}
}





.spotlight-header {
	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	&__img-container{
		overflow:hidden;
		position:relative;
		background-color:palette(black, base);
		padding-bottom:125%;
		background-color:palette(black, base);
		@media(min-width:$breakpoint-md) {
			padding-bottom:56.25%;
		}
		&::after {
			content:'';
			background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='37'%3E%3Cpath fill='%23FFF' d='M0 10.427c213.803 7.342 470.91 6.059 771.324-3.848C1071.738-3.33 1294.63-2.046 1440 10.427V37H0V10.427z'/%3E%3C/svg%3E");
			background-size:contain;
			background-position:bottom center;
			vertical-align: bottom;
			height:100px;
			width:100%;
			position:absolute;
			bottom:-5px;
			left:0;
			right:0;
			z-index: 1;
			background-repeat:no-repeat;
		}
	}
	&__scrim {
		height:100%;
		background:rgba(0,0,0,0.5);
	}
	&__content {
		position:absolute;
		top:50%;
		left:50%;
		width:100%;
		transform:translate(-50%, -45%);
		padding-left:$space-3; 
		padding-right:$space-3;
		padding-bottom:$space-5;
		@media(min-width:$breakpoint-sm) {
			padding-left:$space-5; 
			padding-right:$space-5; 
			padding-bottom:$space-5;
			margin-bottom:$space-5;
		}
		@media(min-width:$breakpoint-lg) {
			padding-left:$space-6;
			padding-right:$space-6;
			padding-bottom:$space-5;
		}
	}

	&__paragraph {
		color:palette(grey, light);
		display:none;
		margin-top:$space-3;
		@media(min-width:$breakpoint-sm) {
			display:block;
		}
	}

	&__breadcrumb {
		opacity:0.75;
		padding:$space-2 0;
		transition:opacity 0.25s;
		&:hover {
			opacity:1;
		}
	}
	&__title {
		&::after {
			content:'';
			display:block;
			width:20px;
			height:5px;
			margin:$space-3 auto;
			border-radius:$border-radius;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
	}
	&__icon {
		vertical-align: middle;
		margin-bottom:$space-3;
		@include themify {
			background:$color-primary;
			background-image:$icon;
			background-position: center;
			background-repeat: no-repeat;
			background-size:80%;
			border-radius:$border-radius;
			max-width:35.5px;
			max-height:35.5px;
			height:35.5px;
			width:35.5px;
			@media(min-width:$breakpoint-lg) {
				height:42.5px;
				width:42.5px;
				max-width:42.5px;
				max-height:42.5px;
			}
		}
	}
}