.spotlight-content {
	z-index:$z3;
	position:relative;
	margin-top:-$space-4;
	@media(min-width:$breakpoint-sm) {
		margin-top:-$space-5;
	}
	@media(min-width:$breakpoint-lg) {
	}
}

.spotlight-grid {
	@media (min-width:$breakpoint-sm) {

	}
}


.spotlight-grid-item {
	margin:$space-3 0;
	@media (min-width:$breakpoint-sm) {
		padding:0 $space-3;
	}
}