.editorial-header {
	&__backdrop {
		width:100%;
		background-color:palette(black, x-light);
		position:relative;
		height:235px;
		@media(min-width:$breakpoint-lg) {
			height:375px;
		}
	}

	&__inner {
		@media(min-width:$breakpoint-lg) {
			margin-top:-150px;
		}
		margin-top:-100px;
		z-index:$z4;
	}

	&__title {
		font-size:2.2rem;
		@media(min-width:$breakpoint-sm) {
			font-size:2.65rem;
		}
	}

	&__preamble {
		font-size:1.1em;
	    font-weight:400;
	    line-height: 1.5;
	    color:palette(black,dark);
	    @media (min-width:$breakpoint-md) {
	    	padding:$space-1 0;
	    }
		&::after, &::before {
			content:'';
			display:block;
			width:20px;
			height:5px;
			margin:$space-3 auto;
			border-radius:$border-radius;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
	}

	&__content {
		padding:$space-2 0;
		margin-top:$space-2;
		@media(min-width:$breakpoint-sm) {
			padding:$space-2 $space-4;
			margin-top:$space-3;
		}
		@media(min-width:$breakpoint-lg) {
			padding:$space-2 $space-5;
		}
	}

	&__img-container {
		position:relative;
		padding-bottom:66.66%;
		background-color:palette(black, base);
		overflow: hidden;
		border-radius: $border-radius;
	}

	&__img {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		z-index:$z1;
	}
}


.mentioned {
	&__outer {
		animation:fadeInUp 0.35s;
		opacity:0;
		animation-fill-mode:forwards;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) { 
				animation-delay:(0.1s * $i); 
			}
		}
	}
}


.editorial-mentions {
	list-style:none;
}
