.article-hero {
	&__backdrop {
		width:100%;
		background-color:palette(black, light);
		position:relative;
		height:235px;
		@media(min-width:$breakpoint-sm) {
			height:250px;
		}
		@media(min-width:$breakpoint-lg) {
			height:325px;
		}
	}

	&__inner {
		margin-top:-100px;
		z-index:$z3;
		@media(min-width:$breakpoint-lg) {
			margin-top:-150px;
		}
	}

	&__title {
		font-size:2rem;
		color:$white;
		@media(min-width:$breakpoint-sm) {
			font-size:2.2rem;
		}
		@media(min-width:$breakpoint-md) {
			font-size:2.7rem;
		}
	}

	&__content {
		position:absolute;
		bottom:$space-4;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto; 
		z-index:$z3;
		text-align:center;
		@media(min-width:$breakpoint-sm) {
			padding:$space-2 $space-4;
			margin-top:$space-3;
		}
		@media(min-width:$breakpoint-lg) {
			padding:$space-2 $space-5;
		}
	}

	&__img-container {
		position:relative;
		padding-bottom:100%;
		background-color:palette(black, base);
		overflow: hidden;
		border-radius: $border-radius;
		@media(min-width:$breakpoint-sm) {
			padding-bottom:56.25%;
		}
		&::after {
	 		content:'';
	 		position:absolute;
	 		bottom:0;
	 		left:0;
	 		right:0;
	 		z-index:1;
	 		height:65%;
	 		width:100%;
	 		@include scrimGradient(palette(black, dark), 'to top');
	 	}
	}

	&__img {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		z-index:$z1;
	}
}