.article-content {
	@screen sm {
		@apply px-6;
	}
	@screen lg {
		@apply px-8;
	}
}


.article-body {
	.wp-caption, .image-description, .image-credit {
		max-width:90%;
		height:auto;
	}
	.image-credit {
		display:block;
		text-align:left;
		font-size:0.9em;
		font-weight:300;
		font-style: italic;
		@apply text-grey-dark mt-1;
	}
	.wp-caption-text, .image-description{
		display:block;
		text-align:left;
		font-weight:400;
		font-size:1em;
		font-style: italic;
		@apply text-grey-darker mt-1 leading-tight;
	}
	figure {
		@apply my-4;
	}
	img {
		width:100%;
		height:auto;
		max-width: 100%;
		@apply mt-3 mb-2 rounded;
	}
	a {
		text-decoration: underline;
		@include themify {
			color:$color-primary;
		}
	}
	blockquote {
		font-size:1.4em;
		font-style: italic;
		@apply py-3 my-4 mx-auto;
		text-align:center;
		width:100%;
		font-weight:300;
		@screen sm {
			width:80%;
		}
		&::after, &::before {
			content:'';
			display:block;
			width:20px;
			height:5px;
			@apply my-3 mx-auto rounded bg-grey-light;
			@include themify {
	        	background:$color-primary;
	        }
		}
	}

	ul {
		list-style: disc;
		@apply pl-4;
		color:#333;

	}
	li {
		@apply mt-4;
		line-height: 1.65;
	}
	p {
		@apply my-2;
		line-height: 1.5;
		font-weight:400;
		font-size:1em;
		color:#333;
		font-feature-settings:"kern" 1;
  		font-kerning: normal;
	}
	h2 {

		@apply mt-4 mb-3;
		font-size:2.1em;
		color:palette(black, dark);
	}
	h3 {
		@apply mt-4 mb-3;
		font-size:1.65em;
		color:palette(black, base);
	}
	h4 {
		@apply mt-4 mb-3;
		font-size:1.6em;
		color:palette(black, light);
	}
	h5 {
		@apply mt-3 mb-2;
		font-size:1.25em;
	}
}