.article-large {
	&__excerpt {
		position:relative;
		max-height:100px;
		overflow:hidden;
		margin-top:$space-3;
		font-size:.95rem;
		font-style:italic;
		color:palette(black, x-light);
		@include fade-text();
		@media (min-width:$breakpoint-md){
			max-height:50px;
		}
	}

	&__title {
		font-size:1.5rem;
		@media (min-width:$breakpoint-md){
			font-size:1.5rem;
		}
		
	}

	&__img-container {
		overflow: hidden;
		position:relative;
		background-color:palette(black, base);
		border-radius:$border-radius;
		padding-bottom:66%;
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
}