.article-loader {
	padding-top:$space-5;
	padding-bottom:$space-2;
	position:relative;
}

.next-article {

	&__img-container {
		width:75px;
		height:75px;
		border-radius:$border-radius;
		background-color:palette(black, base);
		overflow: hidden;
		position: relative;
		padding-bottom:75px;
		@media (min-width:$breakpoint-sm) {
			width:100px;
			height:100px;
			padding-bottom:100px;
		}
	}
	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:auto;
	}
	&__arrow {
		height:75px;
	}
	&__content {
		display:block;
	}
	&__label {
		font-family:$shelby-font-family;
		font-size:1.5em;
	}
	&__title {

	}
}