.breadcrumb {
	margin-bottom:em(8px);
	&.dark {
		.h5 {
			color:palette(black, base);
		}
	}
	.h5 {
		color:palette(grey, light);
	}
	@include for-size('desktop-up') {
		a {
			transition: opacity 0.2s;
			&:hover {
				opacity:0.9;
			}
		}
	}
	&__spacer {
		display:inline-block;
		color:palette(gray, dark);
		margin:0 em(4px);
	}
}