.breadcrumbs__icon {
	display:inline-block;
	@apply mr-1;
	vertical-align: middle;
	@include themify {
		background:$color-primary;
		background-image:$icon;
		background-position: center;
		background-repeat: no-repeat;
		background-size:70%;
		@apply rounded;
		height:20px;
		width:20px;
	}
}

.breadcrumbs__divider {
	@apply text-white opacity-75;
}

.breadcrumbs__link {
	@apply font-rift font-normal text-white opacity-75 text-sm align-middle;
	max-width: 100px;
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@screen md {
		font-size:1rem;
		max-width: 120px;
	}
	&--current {
		@apply text-white opacity-100;
	}
}