.btn {
	@apply px-4 py-3 text-base font-rift no-underline leading-normal font-bold h-auto rounded align-middle appearance-none bg-black text-white;
	transition:transform 0.25s;
	
	&__icon {
		@apply fill-current mr-1;
	}

	&--primary {
		@include themify {
			background-color:$color-primary;
			background-repeat:repeat;
			background-size:100%;
		}
	}

	&:hover {
		transform:translateY(-2px);
	}

	&:active {
		transform:translateY(0px);
	}
	
	&:focus {
		outline: none;
		transform:translateY(-2px);
		border-color: rgba(0, 0, 0, .125);
	}
}
