.date-badge {
	padding:0.5rem;
	border-radius:$border-radius;
	color:$white;
	&--large {
		padding:0.85rem;
	}
	@include themify {
		background:$color-primary;
	}
	&__day {
		font-family: $rift-font-family;
		font-weight:bold;
		display:block;
		text-align:center;
		font-size:1.2em;
		line-height: 1;
	}
	&__month {
		font-weight:bold;
		font-size:0.8em;
		font-family: $rift-font-family;
		display:block;
		text-align:center;
		opacity:0.75;
	}
}