.google-details {
	padding:$space-3 0;
	position:relative;
	border-radius:$border-radius;
	font-family: $rift-font-family;
	font-weight:bold;

	&__section {
		margin-top:$space-3;
	}

	&__map {
		height:400px;
		width:100%;
		border-radius:$border-radius;
		margin-top:$space-4;
	}

	&__icon {
		width:17.5px;
		@include themify {
		 	fill:$color-primary;
		}
	}
	&__section-label {
		font-size:1rem;
		margin-bottom:$space-3;
		color:palette(black, x-light);
	}

	&__link {
		font-size:1.2em;
		vertical-align: top;
		i {
			vertical-align: middle;
		}
	}

	&__open-hours {
		
	}

	&__open-hour {
		font-size:1rem;
		padding:$space-1 0;
		@media (min-width:$breakpoint-sm){
			font-size:1rem;
		}
	}
}
