//Se över och ersätt

.icon-button {
	height:30px;
	width:30px;
	&--large {
		height:45px;
		width:45px;
	}
	background:palette(black, x-light);
	border-radius:50%;
	position: relative;
	transition:background 0.25s;
	&:hover {
		background:palette(black, xx-light);
	}
	@media (min-width:$breakpoint-sm) {
		height:40px;
		width:40px;
		&--large {
			height:50px;
			width:50px;
		}
	}
	&__icon {
		position:absolute;
		fill:$white;
		font-size:18px !important;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
	}
}