.image-credit--large {
	padding:$space-2 $space-3;
	background:$darken-2;
	border-radius:$border-radius-pill;
	&__author {
		font-style:italic;
		color:$white;
		font-size:0.8rem;
	}
	&__icon {
		fill:$white;
		vertical-align:middle;
		margin-right:$space-2;
	}
}