



.search-page {
	&__header {
		height:250px;
		background-color:palette(black, base);

	}

	&__no-results {
		opacity:0.4;
	}

	&__sidebar {
		
		margin-top:$space-4;
		@media (min-width:$breakpoint-sm) {
			padding-left:$space-5;
			margin-top:0;
		}
	}

	&__search-box {
		display:block;
		transform:translateY(50%);


		input {
			width:100%;
			font-size:1.1rem;
			box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.1);
			font-family:$rift-font-family;
			font-weight:bold;
			border:none;
			padding: $space-3 $space-3;
			border-radius:$border-radius;
			@media (min-width:$breakpoint-sm) {
				padding: $space-3 $space-3;
				font-size: 1.1rem;
			}

		}
	}
}


.search-page-sidebar {

	&__header {

		margin-bottom:$space-3;
		&::after {
			content:'';
			display:block;
			width:20px;
			height:5px;
			margin-top:$space-3;
			border-radius:$border-radius;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
	}
	&__title {
		font-family:$rift-font-family;
		font-weight:bold;
		font-size:$h4;
		@media (min-width:$breakpoint-sm){
			font-size:$h4;

		}
	}

	&__badge {
		@media (min-width:$breakpoint-sm){
			height:35px;
			width:35px;
		}
		height:35px;
		width:35px;
		border-radius:50%;
		display:inline-flex;
		justify-content:center;
		align-items:center;
		background:$orange;
	}

	&__icon {
		height:15px;
		width:15px;
		fill:$white;
		@media (min-width:$breakpoint-sm){
			height:15px;
			width:15px;
		}
	}
}

.ais-menu--link {
	font-family:$rift-font-family;
	font-size:1rem;
	font-weight:bold;
	margin:$space-2 0;
	display:block;
}

.algolia-powered-by-link {
	transform:translateY(100%);
}

.ais-search-box--powered-by {
	display:none;
}

.ais-menu--count {
	color:palette(black, x-light);
	opacity:0.5;
}


.ais-pagination {
	margin-top:$space-3;
}

.ais-pagination--item {
	display:inline-block;
	margin:0 $space-1;
	font-family:$rift-font-family;
	font-weight:bold;
	font-size:1.2rem;
	&__page {
	}
	&__first, &__last, &__previous, &__next {
		border-radius:$border-radius;
		background:palette(grey, xx-light);
		padding:$space-2 $space-3;
	}
}






.search {
    
}


.searchform {
	width:100%;

	&__input {
		flex:1;
		width:100%;
		max-width:450px;
		text-decoration: none;
		font-size:1rem;
		font-family:$rift-font-family;
		font-weight:bold;
		padding: 0.35em $space-2;
		&:focus {
			border-radius:$border-radius;
		}
		@media (min-width:$breakpoint-sm) {
			padding: 0.9em $space-3;
			font-size: 0.9rem;
		}
		border-radius:$border-radius;
		outline:none;
		border:none;
	}
}


.algolia-autocomplete {
	background:$white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 7px 10px rgba(0,0,0,0.22);
	padding:$space-2;
	&.autocomplete-hide {
		visibility:hidden;
	}
	@media (min-width:$breakpoint-sm) {
		padding:$space-3;
	}
	z-index:$z3;
	-webkit-overflow-scrolling:touch;
	border-radius:$border-radius;
	max-height:500px;
	overflow:scroll;
}


.autocomplete-header {
	font-size:1.35rem;
	&::after {
		content:'';
		display:block;
		width:20px;
		height:5px;
		border-radius:$border-radius;
		margin:$space-3 0;
		background-color:palette(grey, light);
		@include themify {
        	background:$color-primary;
        }
	}
}


.suggestion-link {
	&:focus {
		background:black;
	}
}


.suggestion {
	margin:$space-3 0;


	&__img-container {
		position:relative;
		border-radius:$border-radius;
		overflow: hidden;
		padding-bottom:100%;
		background-color:palette(black, base);
	}

	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}

	&:nth-child(0) {
		opacity:0.2;
	}
	&__content {
		padding-left:$space-3;
	}

	&__excerpt {

	}

	&__title {
		font-family:$rift-font-family;
		font-weight:bold;
		display:block;
		font-size:1.25rem;
		margin-bottom:$space-3;
	}

	&__thumbnail {
		 border-radius:$border-radius;
		 width:100%;
	}
}