.section-header {
	display:flex;
	&__icon {
		fill:$white;
	}
	&__icon-wrapper {
		display:flex;
		justify-content:center;
		align-items:center;
		border-radius:$border-radius;
		height:30px;
		width:30px;
		@media (min-width:$breakpoint-md) {
			height:35px;
			width:35px;
		}
		@include themify() {
			background-color:$color-primary;
		}
	}
	&__title {
		display:flex;
		justify-content:center;
		font-weight:bold;
		margin-left:$space-2;
		align-items:center;
		font-family:$rift-font-family;
		position:relative;
		font-size:1.2rem;
		@media (min-width:$breakpoint-md) {
			font-size:1.3rem;
		}
		&::after {
			content:'';
			position:absolute;
			bottom:3.75px;
			left:0;
			right:0;
			height:10px;
			background:palette(black, base);
			opacity:0.1;
		}

		
	}
}