.section-header {
	display:inline-flex;

	&__icon {

	}
	&__icon-wrapper {
		display:flex;
		justify-content:center;
		align-items:center;
		border-radius:50%;
		height:35px;
		width:35px;
		@media (min-width:$breakpoint-sm) {
			height:40px;
			width:40px;
		}
		@include themify() {
			background-color:$color-primary;
		}
	}
	&__title {
		display:flex;
		justify-content:center;
		font-weight:bold;
		margin-left:$space-2;
		align-items:center;
		font-family:$rift-font-family;
		position:relative;
		font-size:1.4rem;

		&::before {
			content:'';
			position:absolute;
			bottom:0;
			background:palette(grey, light);
			opacity:0.45;
			border-radius:$border-radius;
			left:0;
			right:0;
			height:10px;
			width:100%;
		}
	}
}