.flex { display: flex }
.inline-flex { display: inline-flex }

.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }
.flex-nowrap    { flex-wrap: nowrap }

.items-start    { align-items: flex-start }
.items-end      { align-items: flex-end }
.items-center   { align-items: center }
.items-baseline { align-items: baseline }
.items-stretch  { align-items: stretch }

.self-start    { align-self: flex-start }
.self-end      { align-self: flex-end }
.self-center   { align-self: center }
.self-baseline { align-self: baseline }
.self-stretch  { align-self: stretch }

.justify-start   { justify-content: flex-start }
.justify-end     { justify-content: flex-end }
.justify-center  { justify-content: center }
.justify-between { justify-content: space-between }
.justify-around  { justify-content: space-around }

.content-start   { align-content: flex-start }
.content-end     { align-content: flex-end }
.content-center  { align-content: center }
.content-between { align-content: space-between }
.content-around  { align-content: space-around }
.content-stretch { align-content: stretch }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
	flex: 1 1 auto;
	min-width: 0; /* 1 */
	min-height: 0; /* 1 */
}

.flex-1 { flex:1; }
.flex-2 { flex:2; }

.flex-none { flex: none }

.order-0 { order: 0 }
.order-1 { order: 1 }
.order-2 { order: 2 }
.order-3 { order: 3 }
.order-last { order: 99999 }


@media (min-width: $breakpoint-sm) {
	.sm:\flex { display: flex }
	.sm:\inline-flex { display: inline-flex }
	.sm:\flex-column { flex-direction: column }
	.sm:\flex-wrap { flex-wrap: wrap }
	.sm:\flex-nowrap    { flex-wrap: nowrap }

	.sm:\flex-1 { flex:1; }
	.sm:\flex-2 { flex:2; }


	.sm:\items-start    { align-items: flex-start }
	.sm:\items-end      { align-items: flex-end }
	.sm:\items-center   { align-items: center }
	.sm:\items-baseline { align-items: baseline }
	.sm:\items-stretch  { align-items: stretch }

	.sm:\self-start    { align-self: flex-start }
	.sm:\self-end      { align-self: flex-end }
	.sm:\self-center   { align-self: center }
	.sm:\self-baseline { align-self: baseline }
	.sm:\self-stretch  { align-self: stretch }

	.sm:\justify-start   { justify-content: flex-start }
	.sm:\justify-end     { justify-content: flex-end }
	.sm:\justify-center  { justify-content: center }
	.sm:\justify-between { justify-content: space-between }
	.sm:\justify-around  { justify-content: space-around }

	.sm:\content-start   { align-content: flex-start }
	.sm:\content-end     { align-content: flex-end }
	.sm:\content-center  { align-content: center }
	.sm:\content-between { align-content: space-between }
	.sm:\content-around  { align-content: space-around }
	.sm:\content-stretch { align-content: stretch }

	.sm:\order-0 { order: 0 }
	.sm:\order-1 { order: 1 }
	.sm:\order-2 { order: 2 }
	.sm:\order-3 { order: 3 }
	.sm:\order-last { order: 99999 }
}

@media (min-width:$breakpoint-md) {
	.md:\flex { display: flex }
	.md:\inline-flex { display: inline-flex }
	.md:\flex-column { flex-direction: column }
	.md:\flex-wrap { flex-wrap: wrap }
	.md:\flex-nowrap    { flex-wrap: nowrap }

	.md:\flex-1 { flex:1; }
	.md:\flex-2 { flex:2; }

	.md:\items-start    { align-items: flex-start }
	.md:\items-end      { align-items: flex-end }
	.md:\items-center   { align-items: center }
	.md:\items-baseline { align-items: baseline }
	.md:\items-stretch  { align-items: stretch }

	.md:\self-start    { align-self: flex-start }
	.md:\self-end      { align-self: flex-end }
	.md:\self-center   { align-self: center }
	.md:\self-baseline { align-self: baseline }
	.md:\self-stretch  { align-self: stretch }

	.md:\justify-start   { justify-content: flex-start }
	.md:\justify-end     { justify-content: flex-end }
	.md:\justify-center  { justify-content: center }
	.md:\justify-between { justify-content: space-between }
	.md:\justify-around  { justify-content: space-around }

	.md:\content-start   { align-content: flex-start }
	.md:\content-end     { align-content: flex-end }
	.md:\content-center  { align-content: center }
	.md:\content-between { align-content: space-between }
	.md:\content-around  { align-content: space-around }
	.md:\content-stretch { align-content: stretch }

	.md:\order-0 { order: 0 }
	.md:\order-1 { order: 1 }
	.md:\order-2 { order: 2 }
	.md:\order-3 { order: 3 }
	.md:\order-last { order: 99999 }
}

@media (min-width:$breakpoint-lg) {
	.lg:\flex { display: flex }
	.lg:\inline-flex { display: inline-flex }
	.lg:\flex-column { flex-direction: column }
	.lg:\flex-wrap { flex-wrap: wrap }
	.lg:\flex-nowrap    { flex-wrap: nowrap }

	.lg:\flex-1 { flex:1; }
	.lg:\flex-2 { flex:2; }

	.lg:\items-start    { align-items: flex-start }
	.lg:\items-end      { align-items: flex-end }
	.lg:\items-center   { align-items: center }
	.lg:\items-baseline { align-items: baseline }
	.lg:\items-stretch  { align-items: stretch }

	.lg:\self-start    { align-self: flex-start }
	.lg:\self-end      { align-self: flex-end }
	.lg:\self-center   { align-self: center }
	.lg:\self-baseline { align-self: baseline }
	.lg:\self-stretch  { align-self: stretch }

	.lg:\justify-start   { justify-content: flex-start }
	.lg:\justify-end     { justify-content: flex-end }
	.lg:\justify-center  { justify-content: center }
	.lg:\justify-between { justify-content: space-between }
	.lg:\justify-around  { justify-content: space-around }

	.lg:\content-start   { align-content: flex-start }
	.lg:\content-end     { align-content: flex-end }
	.lg:\content-center  { align-content: center }
	.lg:\content-between { align-content: space-between }
	.lg:\content-around  { align-content: space-around }
	.lg:\content-stretch { align-content: stretch }

	.lg:\order-0 { order: 0 }
	.lg:\order-1 { order: 1 }
	.lg:\order-2 { order: 2 }
	.lg:\order-3 { order: 3 }
	.lg:\order-last { order: 99999 }
}

