.icon {
	display: inline-block;
	height: 14px;
	width:  14px;
	vertical-align: middle;
}

.icon-white {
	fill:$white;
}

.icon-black {
	fill:$black;
}

.icon--sm {
	width:  10px;
	height: 10px;
}

.icon--md {
	width:  24px;
	height: 24px;
}

.icon--lg {
	width:  32px;
	height: 32px;
}

.icon--xl {
	width:  64px;
	height: 64px;
}