.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right:  0 }
.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding:        $space-1 }
.pt1 { padding-top:    $space-1 }
.pr1 { padding-right:  $space-1 }
.pb1 { padding-bottom: $space-1 }
.pl1 { padding-left:   $space-1 }
.py1 { padding-top:    $space-1; padding-bottom: $space-1 }
.px1 { padding-left:   $space-1; padding-right:  $space-1 }

.p2  { padding:        $space-2 }
.pt2 { padding-top:    $space-2 }
.pr2 { padding-right:  $space-2 }
.pb2 { padding-bottom: $space-2 }
.pl2 { padding-left:   $space-2 }
.py2 { padding-top:    $space-2; padding-bottom: $space-2 }
.px2 { padding-left:   $space-2; padding-right:  $space-2 }

.p3  { padding:        $space-3 }
.pt3 { padding-top:    $space-3 }
.pr3 { padding-right:  $space-3 }
.pb3 { padding-bottom: $space-3 }
.pl3 { padding-left:   $space-3 }
.py3 { padding-top:    $space-3; padding-bottom: $space-3 }
.px3 { padding-left:   $space-3; padding-right:  $space-3 }

.p4  { padding:        $space-4 }
.pt4 { padding-top:    $space-4 }
.pr4 { padding-right:  $space-4 }
.pb4 { padding-bottom: $space-4 }
.pl4 { padding-left:   $space-4 }
.py4 { padding-top:    $space-4; padding-bottom: $space-4 }
.px4 { padding-left:   $space-4; padding-right:  $space-4 }

.p5  { padding-top:    $space-5 }
.pt5 { padding-top:    $space-5 }
.pr5 { padding-right:  $space-5 }
.pb5 { padding-bottom: $space-5 }
.pl5 { padding-left:   $space-5 }
.py5 { padding-top:    $space-5; padding-bottom: $space-5 }
.px5 { padding-left:   $space-5; padding-right:  $space-5 }

.p6  { padding-top:    $space-6 }
.pt6 { padding-top:    $space-6 }
.pr6 { padding-right:  $space-6 }
.pb6 { padding-bottom: $space-6 }
.pl6 { padding-left:   $space-6 }
.py6 { padding-top:    $space-6; padding-bottom: $space-6 }
.px6 { padding-left:   $space-6; padding-right:  $space-6 }


@media (min-width:$breakpoint-sm) {
	.sm:\p0  { padding: 0 }
	.sm:\pt0 { padding-top: 0 }
	.sm:\pr0 { padding-right: 0 }
	.sm:\pb0 { padding-bottom: 0 }
	.sm:\pl0 { padding-left: 0 }
	.sm:\px0 { padding-left: 0; padding-right:  0 }
	.sm:\py0 { padding-top: 0;  padding-bottom: 0 }

	.sm:\p1  { padding:        $space-1 }
	.sm:\pt1 { padding-top:    $space-1 }
	.sm:\pr1 { padding-right:  $space-1 }
	.sm:\pb1 { padding-bottom: $space-1 }
	.sm:\pl1 { padding-left:   $space-1 }
	.sm:\py1 { padding-top:    $space-1; padding-bottom: $space-1 }
	.sm:\px1 { padding-left:   $space-1; padding-right:  $space-1 }

	.sm:\p2  { padding:        $space-2 }
	.sm:\pt2 { padding-top:    $space-2 }
	.sm:\pr2 { padding-right:  $space-2 }
	.sm:\pb2 { padding-bottom: $space-2 }
	.sm:\pl2 { padding-left:   $space-2 }
	.sm:\py2 { padding-top:    $space-2; padding-bottom: $space-2 }
	.sm:\px2 { padding-left:   $space-2; padding-right:  $space-2 }

	.sm:\p3  { padding:        $space-3 }
	.sm:\pt3 { padding-top:    $space-3 }
	.sm:\pr3 { padding-right:  $space-3 }
	.sm:\pb3 { padding-bottom: $space-3 }
	.sm:\pl3 { padding-left:   $space-3 }
	.sm:\py3 { padding-top:    $space-3; padding-bottom: $space-3 }
	.sm:\px3 { padding-left:   $space-3; padding-right:  $space-3 }

	.sm:\p4  { padding:        $space-4 }
	.sm:\pt4 { padding-top:    $space-4 }
	.sm:\pr4 { padding-right:  $space-4 }
	.sm:\pb4 { padding-bottom: $space-4 }
	.sm:\pl4 { padding-left:   $space-4 }
	.sm:\py4 { padding-top:    $space-4; padding-bottom: $space-4 }
	.sm:\px4 { padding-left:   $space-4; padding-right:  $space-4 }

	.sm:\p5  { padding-top:    $space-5 }
	.sm:\pt5 { padding-top:    $space-5 }
	.sm:\pr5 { padding-right:  $space-5 }
	.sm:\pb5 { padding-bottom: $space-5 }
	.sm:\pl5 { padding-left:   $space-5 }
	.sm:\py5 { padding-top:    $space-5; padding-bottom: $space-5 }
	.sm:\px5 { padding-left:   $space-5; padding-right:  $space-5 }
	
	.sm:\p6  { padding-top:    $space-6 }
	.sm:\pt6 { padding-top:    $space-6 }
	.sm:\pr6 { padding-right:  $space-6 }
	.sm:\pb6 { padding-bottom: $space-6 }
	.sm:\pl6 { padding-left:   $space-6 }
	.sm:\py6 { padding-top:    $space-6; padding-bottom: $space-6 }
	.sm:\px6 { padding-left:   $space-6; padding-right:  $space-6 }
}

@media (min-width:$breakpoint-md) {
	.md:\p0  { padding: 0 }
	.md:\pt0 { padding-top: 0 }
	.md:\pr0 { padding-right: 0 }
	.md:\pb0 { padding-bottom: 0 }
	.md:\pl0 { padding-left: 0 }
	.md:\px0 { padding-left: 0; padding-right:  0 }
	.md:\py0 { padding-top: 0;  padding-bottom: 0 }

	.md:\p1  { padding:        $space-1 }
	.md:\pt1 { padding-top:    $space-1 }
	.md:\pr1 { padding-right:  $space-1 }
	.md:\pb1 { padding-bottom: $space-1 }
	.md:\pl1 { padding-left:   $space-1 }
	.md:\py1 { padding-top:    $space-1; padding-bottom: $space-1 }
	.md:\px1 { padding-left:   $space-1; padding-right:  $space-1 }

	.md:\p2  { padding:        $space-2 }
	.md:\pt2 { padding-top:    $space-2 }
	.md:\pr2 { padding-right:  $space-2 }
	.md:\pb2 { padding-bottom: $space-2 }
	.md:\pl2 { padding-left:   $space-2 }
	.md:\py2 { padding-top:    $space-2; padding-bottom: $space-2 }
	.md:\px2 { padding-left:   $space-2; padding-right:  $space-2 }

	.md:\p3  { padding:        $space-3 }
	.md:\pt3 { padding-top:    $space-3 }
	.md:\pr3 { padding-right:  $space-3 }
	.md:\pb3 { padding-bottom: $space-3 }
	.md:\pl3 { padding-left:   $space-3 }
	.md:\py3 { padding-top:    $space-3; padding-bottom: $space-3 }
	.md:\px3 { padding-left:   $space-3; padding-right:  $space-3 }

	.md:\p4  { padding:        $space-4 }
	.md:\pt4 { padding-top:    $space-4 }
	.md:\pr4 { padding-right:  $space-4 }
	.md:\pb4 { padding-bottom: $space-4 }
	.md:\pl4 { padding-left:   $space-4 }
	.md:\py4 { padding-top:    $space-4; padding-bottom: $space-4 }
	.md:\px4 { padding-left:   $space-4; padding-right:  $space-4 }

	.md:\p5  { padding-top:    $space-5 }
	.md:\pt5 { padding-top:    $space-5 }
	.md:\pr5 { padding-right:  $space-5 }
	.md:\pb5 { padding-bottom: $space-5 }
	.md:\pl5 { padding-left:   $space-5 }
	.md:\py5 { padding-top:    $space-5; padding-bottom: $space-5 }
	.md:\px5 { padding-left:   $space-5; padding-right:  $space-5 }
	
	.md:\p6  { padding-top:    $space-6 }
	.md:\pt6 { padding-top:    $space-6 }
	.md:\pr6 { padding-right:  $space-6 }
	.md:\pb6 { padding-bottom: $space-6 }
	.md:\pl6 { padding-left:   $space-6 }
	.md:\py6 { padding-top:    $space-6; padding-bottom: $space-6 }
	.md:\px6 { padding-left:   $space-6; padding-right:  $space-6 }
}


@media (min-width:$breakpoint-lg) {
	.lg:\p0  { padding: 0 }
	.lg:\pt0 { padding-top: 0 }
	.lg:\pr0 { padding-right: 0 }
	.lg:\pb0 { padding-bottom: 0 }
	.lg:\pl0 { padding-left: 0 }
	.lg:\px0 { padding-left: 0; padding-right:  0 }
	.lg:\py0 { padding-top: 0;  padding-bottom: 0 }

	.lg:\p1  { padding:        $space-1 }
	.lg:\pt1 { padding-top:    $space-1 }
	.lg:\pr1 { padding-right:  $space-1 }
	.lg:\pb1 { padding-bottom: $space-1 }
	.lg:\pl1 { padding-left:   $space-1 }
	.lg:\py1 { padding-top:    $space-1; padding-bottom: $space-1 }
	.lg:\px1 { padding-left:   $space-1; padding-right:  $space-1 }

	.lg:\p2  { padding:        $space-2 }
	.lg:\pt2 { padding-top:    $space-2 }
	.lg:\pr2 { padding-right:  $space-2 }
	.lg:\pb2 { padding-bottom: $space-2 }
	.lg:\pl2 { padding-left:   $space-2 }
	.lg:\py2 { padding-top:    $space-2; padding-bottom: $space-2 }
	.lg:\px2 { padding-left:   $space-2; padding-right:  $space-2 }

	.lg:\p3  { padding:        $space-3 }
	.lg:\pt3 { padding-top:    $space-3 }
	.lg:\pr3 { padding-right:  $space-3 }
	.lg:\pb3 { padding-bottom: $space-3 }
	.lg:\pl3 { padding-left:   $space-3 }
	.lg:\py3 { padding-top:    $space-3; padding-bottom: $space-3 }
	.lg:\px3 { padding-left:   $space-3; padding-right:  $space-3 }

	.lg:\p4  { padding:        $space-4 }
	.lg:\pt4 { padding-top:    $space-4 }
	.lg:\pr4 { padding-right:  $space-4 }
	.lg:\pb4 { padding-bottom: $space-4 }
	.lg:\pl4 { padding-left:   $space-4 }
	.lg:\py4 { padding-top:    $space-4; padding-bottom: $space-4 }
	.lg:\px4 { padding-left:   $space-4; padding-right:  $space-4 }

	.lg:\p5  { padding-top:    $space-5 }
	.lg:\pt5 { padding-top:    $space-5 }
	.lg:\pr5 { padding-right:  $space-5 }
	.lg:\pb5 { padding-bottom: $space-5 }
	.lg:\pl5 { padding-left:   $space-5 }
	.lg:\py5 { padding-top:    $space-5; padding-bottom: $space-5 }
	.lg:\px5 { padding-left:   $space-5; padding-right:  $space-5 }
	
	.lg:\p6  { padding-top:    $space-6 }
	.lg:\pt6 { padding-top:    $space-6 }
	.lg:\pr6 { padding-right:  $space-6 }
	.lg:\pb6 { padding-bottom: $space-6 }
	.lg:\pl6 { padding-left:   $space-6 }
	.lg:\py6 { padding-top:    $space-6; padding-bottom: $space-6 }
	.lg:\px6 { padding-left:   $space-6; padding-right:  $space-6 }
}