.scrim {
	&::after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:80%;
		@include scrimGradient(palette(black, dark), 'to top');
	}
}

.overlay {
	&::after {
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
	}
}