.topographic-pattern {
	background-image: url("../images/pattern.svg");
	background-repeat:repeat;
	background-size:80%;
	@media (min-width:$breakpoint-sm) {
		background-size:25%;
	}
}


.topographic-pattern-theme {
	@include themify {
		background: url("../images/pattern.svg"), linear-gradient(92.43deg, $color-primary 0%, $color-secondary 100%);
	}
}


.topographic-pattern-dark {
	background-image: url("../images/pattern-dark.svg");
	background-repeat:repeat;
	background-size:80%;
	@media (min-width:$breakpoint-sm) {
		background-size:75%;
	}
}