.topographic-pattern {
	background-image: url("../images/pattern.svg");
	@apply bg-repeat;
	background-size:80%;
	@screen sm {
		background-size:25%;
	}
}

.topographic-pattern-theme {
	@include themify {
		background: url("../images/pattern.svg"), linear-gradient(92.43deg, $color-primary 0%, $color-secondary 100%);
	}
}

.topographic-pattern-dark {
	background-image: url("../images/pattern-dark.svg");
	@apply bg-repeat;
	background-size:80%;
	@screen sm {
		background-size:75%;
	}
}