
.text-xs   { font-size:0.735rem; }
.text-sm   { font-size:0.875rem; }
.text-base { font-size:1rem; }
.text-lg   { font-size:1.125rem; }
.text-xl   { font-size:1.375rem; }
.text-xxl   { font-size:2.25rem; }


.text-075 { font-size:0.75rem;}
.text-1 { font-size:1rem;}
.text-125 { font-size:1.25rem;}
.text-150 { font-size:1.5rem;}
.text-175 { font-size:1.75rem;}
.text-200 { font-size:2rem;}
.text-225 { font-size:2.25rem;}
.text-250 { font-size:2.5rem;}
.text-275 { font-size:2.75rem;}

@media (min-width:$breakpoint-sm) {
	.sm:\text-075 { font-size:0.75rem;}
	.sm:\text-1 { font-size:1rem;}
	.sm:\text-125 { font-size:1.25rem;}
	.sm:\text-150 { font-size:1.5rem;}
	.sm:\text-175 { font-size:1.75rem;}
	.sm:\text-200 { font-size:2rem;}
	.sm:\text-225 { font-size:2.25rem;}
	.sm:\text-250 { font-size:2.5rem;}
	.sm:\text-275 { font-size:2.75rem;}
}

@media (min-width:$breakpoint-md) {
	.md:\text-075 { font-size:0.75rem;}
	.md:\text-1 { font-size:1rem;}
	.md:\text-125 { font-size:1.25rem;}
	.md:\text-150 { font-size:1.5rem;}
	.md:\text-175 { font-size:1.75rem;}
	.md:\text-200 { font-size:2rem;}
	.md:\text-225 { font-size:2.25rem;}
	.md:\text-250 { font-size:2.5rem;}
	.md:\text-275 { font-size:2.75rem;}
}

@media (min-width:$breakpoint-md) {
	.lg:\text-075 { font-size:0.75rem;}
	.lg:\text-1 { font-size:1rem;}
	.lg:\text-125 { font-size:1.25rem;}
	.lg:\text-150 { font-size:1.5rem;}
	.lg:\text-175 { font-size:1.75rem;}
	.lg:\text-200 { font-size:2rem;}
	.lg:\text-225 { font-size:2.25rem;}
	.lg:\text-250 { font-size:2.5rem;}
	.lg:\text-275 { font-size:2.75rem;}
}