.article-medium {
	&__excerpt {
		position:relative;
		max-height:50px;
		overflow:hidden;
		font-size:1rem;
		color:palette(black, x-light);
		text-overflow: ellipsis;
		@include fade-text();
		@media (min-width:$breakpoint-md){
			max-height:60px;
		}
	}

	&__title {
		font-size:1.6rem;
		&::after {
			content:'';
			display:block;
			width:20px;
			height:5px;
			border-radius:$border-radius;
			margin:$space-3 0;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
	}

	&__img-container {
		overflow: hidden;
		position:relative;
		background-color:palette(black, base);
		border-radius:$border-radius;
		padding-bottom:66%;
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		transition: transform 0.35s;
	}
}