.article-medium {
	&:hover {
		.article-medium__img {
			transform:scale(1.05);
		}
	}
	&__content {
		position:relative;
		max-height:205px;
		overflow:hidden;
		text-overflow: ellipsis;
		@include fade-text();
		@media (min-width:$breakpoint-md){
			max-height:185px;
		}
	}

	&__img-container {
		overflow: hidden;
		position:relative;
		background-color:palette(black, base);
		border-radius:$border-radius;
		padding-bottom:75%;
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		transition: transform 0.35s;
	}
	
}