.article-large {
	margin-top:$space-4;
	&__img-container {
		overflow: hidden;
		position:relative;
		border-radius:$border-radius;
		padding-bottom:66.66%;
		background-color:palette(black, base);
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		transition: transform 0.35s;
	}

	&__title {
		word-break: break-word;
		&::after {
			content:'';
			display:block;
			width:20px;
			height:5px;
			border-radius:$border-radius;
			margin:$space-3 0;
			background-color:palette(grey, light);
			@include themify {
	        	background:$color-primary;
	        }
		}
		@media (min-width: $breakpoint-sm) {
			font-size:2.25rem;
			line-height: 1.1;
		}
	}

	&__right-col {
		@media(min-width:$breakpoint-sm) {
			padding-left:$space-3;
		}
	}

	&__excerpt {
		position:relative;
		max-height:135px;
		overflow:hidden;
		text-overflow: ellipsis;
		margin-top:$space-1;
		@include fade-text();
		@media(min-width:$breakpoint-sm) {
			margin-top:0;
			//padding-left:$space-3;
			max-height:200px;
			margin-top:0;
		}
	}
}
