.article-share {
	padding:$space-5 0;
	@media(min-width:$breakpoint-sm) {
		padding:$space-5 0;
	}
	@media(min-width:$breakpoint-lg) {
		padding:$space-5 0;
	}

	&__icon {
		@include mr(2);
		height:20px;
		width:20px;
		vertical-align: text-bottom;
	}

	&__title {
		font-size:2em;
	}

	&__label {
		font-size:1.45em;
		color:palette(grey, x-dark);
		font-family: $shelby-font-family;
	}

	&__button-label {
		margin-right:$space-3;
	}

	&__button {
		display:inline-block;
		margin:$space-2 0;
		& > div {
			display:inline-block;
			vertical-align: middle;
			@include mr(2);
			background:none;
		}
		@media(min-width:$breakpoint-sm) {
			margin:0 $space-2;
		}
		&.facebook {
			margin-left:0;
			color:$white;
			background:#3b5998;
		}
		&.pinterest {
			color:$white;
			background:#bd081c;
		}
	}
}