.author-horizontal {
	display:inline-flex;
	&__img-container {
		width:40px;
		height:40px;
		@media (min-width:$breakpoint-sm) {
			width:50px;
			height:50px;
		}
		background:palette(black, light);
		position:relative;
		overflow: hidden;
		border-radius:$border-radius;
	}
	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
	&__bio {
		flex:1;
		margin-left:$space-2;
		vertical-align: middle;
	}
	&__title {
		font-style:italic;
		color:palette(grey, x-dark);
		font-size:0.8rem;
		margin-top:$space-1;
		line-height: 1.25;
	}
	&__name {
		color:palette(black, light);
		font-size:1rem;
		font-family: $rift-font-family;
		font-weight:bold;
	}
}