//
// @name Button Primary
// @page Components/Button
//
// @description
// Solid button color style for use with the .btn base style.
//
// @state :hover - Highlights when hovering.
//
// @markup
// <button class="btn btn-primary">Button</button>
// 
// 

.btn-primary {
	color: $white;
	background-color: palette(black);

	&:hover {
		background-color: palette(black, dark)
	}


	&:active {
		box-shadow: inset 0 0 0 20rem $darken-2,
					inset 0 3px 4px 0 $darken-3,
						  0 0 1px $darken-2;
	}

	&:disabled,
	&.is-disabled {
		opacity: .5;
	}
}
