//
// @name Icons
// @page Components/Icons
//
// @description
// Current icons from <a href="https://github.com/iconic/open-iconic">https://github.com/iconic/open-iconic</a> <br/> Custom icons should be exported with SVGO compression and at 8x8 pixels.
//
// @state .icon--sm - Small (8px)
// @state .icon--md - Medium (24px)
// @state .icon--lg - Large (32px)
// @state .icon--xl - Extra large (64px)
//
// @markup
// <div>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#account-login"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#account-logout"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#action-redo"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#action-undo"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#align-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#align-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#align-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#aperture"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-circle-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-circle-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-circle-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-circle-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-thick-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-thick-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-thick-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-thick-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#arclearfix-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#audio"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#audio-spectrum"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#badge"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#ban"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bar-chart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#basket"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#battery-empty"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#battery-full"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#beaker"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bell"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bluetooth"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bold"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bolt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#book"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bookmark"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#box"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#briefcase"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#british-pound"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bclearfixser"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#brush"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bug"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#bullhorn"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#calculator"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#calendar"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#camera-slr"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#caret-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#caret-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#caret-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#caret-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#chat"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#check"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#chevron-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#chevron-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#chevron-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#chevron-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#circle-check"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#circle-x"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#clipboard"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#clock"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cloud"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cloud-download"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cloud-upload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cloudy"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#code"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#cog"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#collapse-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#collapse-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#collapse-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#collapse-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#command"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#comment-square"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#compass"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#contrast"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#copywriting"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#credit-card"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#crop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#dashboard"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#data-transfer-download"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#data-transfer-upload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#delete"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#dial"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#document"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#dollar"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#double-quote-sans-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#double-quote-sans-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#double-quote-serif-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#double-quote-serif-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#droplet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#eject"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#elevator"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#ellipses"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#envelope-closed"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#envelope-open"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#euro"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#excerpt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#expand-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#expand-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#expand-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#expand-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#external-link"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#eye"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#eyedropper"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#file"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#fire"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#flag"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#flash"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#folder"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#fork"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#fullscreen-enter"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#fullscreen-exit"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#globe"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#graph"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#grid-four-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#grid-three-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#grid-two-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#hard-drive"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#header"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#headphones"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#heart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#home"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#image"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#inbox"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#infinity"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#info"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#italic"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#justify-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#justify-left"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#justify-right"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#key"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#laptop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#layers"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#lightbulb"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#link-broken"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#link-intact"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#list"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#list-rich"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#location"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#lock-locked"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#lock-unlocked"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#loop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#loop-circular"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#loop-square"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#magnifying-glass"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#map"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#map-marker"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-pause"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-play"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-record"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-skip-backward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-skip-forward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-step-backward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-step-forward"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#media-stop"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#medical-cross"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#menu"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#microphone"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#minus"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#monitor"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#moon"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#move"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#musical-note"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#paperclip"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#pencil"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#people"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#person"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#phone"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#pie-chart"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#pin"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#play-circle"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#plus"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#power-standby"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#print"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#project"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#pulse"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#puzzle-piece"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#question-mark"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#rain"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#random"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#reload"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#resize-both"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#resize-height"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#resize-width"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#rss"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#rss-alt"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#script"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#share"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#share-boxed"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#shield"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#signal"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#signpost"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#sort-ascending"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#sort-descending"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#spreadsheet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#star"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#sun"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#tablet"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#tag"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#tags"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#target"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#task"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#terminal"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#text"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#thumb-down"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#thumb-up"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#timer"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#transfer"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#translate"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#trash"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#underline"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#vertical-align-bottom"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#vertical-align-center"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#vertical-align-top"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#video"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#volume-high"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#volume-low"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#volume-off"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#warning"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#wifi"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#wrench"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#x"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#yen"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#zoom-in"/>
//	 </svg>
// 
//	 <svg class="icon">
//	 	<use xlink:href="#zoom-out"/>
//	 </svg>
// 
// </div>
//

.icon {
	display: inline-block;
	height: 16px;
	width:  16px;
	vertical-align: middle;
}

.icon--sm {
	width:  12px;
	height: 12px;
}

.icon--md {
	width:  24px;
	height: 24px;
}

.icon--lg {
	width:  32px;
	height: 32px;
}

.icon--xl {
	width:  64px;
	height: 64px;
}