

.infinite-scroll {
	position:fixed;
	bottom:0;
	background:palette(black, base);
	margin:0 auto;
	height:50px;
	border-radius:$border-radius;
	width:100%;
	left:0;
	right:0;
	z-index:999;
	transition: transform 0.25s;
	// transform:translateY(100%);
	// &.visible {
	// 	transform:translateY(0%);
	// }
}

.page-load-status {
	font-family:$rift-font-family;
	font-weight:bold;
	color:palette(grey, base);
	text-align:center;
	padding:$space-4;
}


.next-post-link {
	display:none;
}