.activity {
	width:100%;
	display:inline-flex;
	align-items:center;
}

.activity__content {
	flex:2;
}

.activity__img-container {
	height:75px;
	width:75px;
	position:relative;
	overflow:hidden;
	@apply rounded bg-grey-light;
}

.activity__img {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:auto;
}

.activity__title {
	@apply text-lg;
}


.activity-section {

}