.activity {
	width:100%;
	display:inline-flex;
	align-items:center;
}

.activity__content {
	flex:2;
}

.activity__img-container {
	height:75px;
	width:75px;
	position:relative;
	overflow:hidden;
	border-radius:$border-radius;
	background-color:palette(grey, light);
}

.activity__img {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:auto;
}

.activity__title {
	font-size:$h3;
}

.activity {
	opacity:0;
	animation-delay: 0.25s;
	animation: fadeInUp 0.75s;
	animation-fill-mode:forwards;
}


.activity-section {

}