.fade-leave-active, .fade-enter-active {
	transition:all 0.25s;
}

.fade-enter {
	transform:translateY(40px);
	opacity:0;
}

.fade-enter-to {
	transform:translateY(0px);
	opacity:1;
}

.fade-leave {
	transform:translateY(0px);
	opacity:1;
}

.fade-leave-to {
	transform:translateY(40px);
	opacity:0;
}


.fade-in {
	opacity:0;
	animation-delay: 0.25s;
	animation: fadeInUp 0.75s;
	animation-fill-mode:forwards;
}

@keyframes fadeInUp {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}