//Right to left

.fade-leave-active, .fade-enter-active {
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin:bottom center;

}

.fade-enter {
	transform:translateX(110%) rotate(5deg);
	opacity:0;
}

.fade-enter-to {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-leave {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-leave-to {
	transform:translateX(-110%) rotate(-5deg);
	opacity:0;
}




//Left to right

.fade-right-leave-active, .fade-right-enter-active {
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin:bottom center;

}

.fade-right-enter {
	transform:translateX(-110%) rotate(-5deg);
	opacity:0;
}

.fade-right-enter-to {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-right-leave {
	transform:translateX(0%) rotate(0deg);
	opacity:1;
}

.fade-right-leave-to {
	transform:translateX(110%) rotate(5deg);
	opacity:0;
}

@keyframes fadeInUp {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}