.btn.loading {
	position:relative;
	overflow:hidden;
}

.btn::after{
	content:'';
	left:0;
	top:0;
	opacity:0;
	position: absolute;
	@apply bg-blue;
	background-image: linear-gradient(to right, palette(black, base) 0%, palette(black, xx-light) 20%, palette(black, base) 40%, palette(black, base) 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: ease-in-out;
	width:100%;
	height:100%;
	transition:opacity 0.25s;
	pointer-events:none;
}

.btn.loading::after{
	opacity:0.8;
}