.card {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius:4px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:$white;
  margin-bottom:$space-3;
}

.card__header {
	background-color:palette(black, base);
	padding:1.25rem 1rem;
}

.card__title {
	color:$white;
	font-size:1.35rem;
	margin-top:$space-2;
	font-family:$rift-font-family;
}

.card__content {
  padding-top:$space-3;
  min-height:400px;
  max-height:400px;
  overflow:scroll;
}


.card__button {
  color:$white;
  font-size:1rem;
  transition:opacity 0.25s;
  font-family:$rift-font-family;
  opacity:0.8;
  &:active {
	opacity:1;
  }
}