.date {
	display:flex;
	align-items:center;
	margin-bottom:$space-3;
	opacity:0;
	animation-delay: 0.25s;
	animation: fadeInUp 0.75s;
	animation-fill-mode:forwards;
}

.date__content {
	text-align:top;
	padding-left:$space-2;
}

.date__title {
	font-size:$h3;
}