.dh-landing {
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
	background:palette(black, x-dark);
}

.dh-landing__img {
	position:absolute;
	height:100%;
	width:auto;
	@media (min-width:$breakpoint-md) {
		height:auto;
		width:100%;
	}
	top:50%;
	left:50%;
	opacity:0.5;
	transform:translate(-50%, -50%);
}

.dh-landing__title {
	color:$white;
	text-align:center;
	width:100%;
	white-space:nowrap;
}


.dh-wizard {
	display:flex;
	justify-content:flex-end;
	height:100%;
	overflow:hidden;
	flex-direction:column;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	z-index:$z3;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:$space-3;
	@media (min-width:$breakpoint-md) {
		overflow:visible;
	}
}