.offline-bar{
    background:#ff0036;
    @apply font-rift;
    position:fixed;
    font-weight:bold;
    top:0;
    left:0;
    right:0;
    width:100%;
}

.offline-bar__inner {
    @apply p-1 text-white;
	font-size:0.9rem;
	display:flex;
	justify-content:center;
	align-items:center;
}