.offline-bar{
    background:#ff0036;
    font-family:$rift-font-family;
    position:fixed;
    font-weight:bold;
    top:0;
    left:0;
    right:0;
    width:100%;
}

.offline-bar__inner {
	padding:$space-1;
	font-size:0.9rem;
	display:flex;
	color:$white;
	justify-content:center;
	align-items:center;
}