
.result__happenings {
	@apply bg-grey-light;
}

.result {
	display:inline-flex;
	align-items:flex-start;
	width:100%;
}

.result__content {
	flex:2;
}

.result__img-container {
	height:90px;
	width:90px;
	position:relative;
	overflow:hidden;
	@apply rounded bg-grey-light;
}

.result__img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}

.result__title {
	@apply text-lg;
}

.result-header {
	font-size:1.2rem;
	@apply mt-2 mb-3 font-rift text-blue;
	font-weight:bold;
}

.result, .result-header {
	opacity:0;
	animation-delay: 0.25s;
	animation: fadeInUp 0.75s;
	animation-fill-mode:forwards;
}