.shimmer {
	display:inline-flex;
	align-items:center;
	margin-bottom:$space-3;
}

.shimmer__img, .shimmer__title, .shimmer__link, .shimmer__button {
	background: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: ease-in-out;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.shimmer__img {
	height:75px;
	width:75px;
	border-radius:$border-radius;
}

.shimmer__title {
	height:30px;
	width:140px;
	border-radius:$border-radius;
}

.shimmer__link {
	height:20px;
	width:100px;
	border-radius:$border-radius;
	display:inline-block;
}

.shimmer__button {
	height:20px;
	width:20px;
	border-radius:$border-radius;
	display:inline-block;
	margin-left:$space-1;
}