html {
	box-sizing: border-box;
	text-size-adjust: 100%;
	@screen lg {
		font-size: 112.5%; /* 18px */
	}
}

h1, .h1 { font-size: 2.65rem }
h2, .h2 { font-size: 1.75rem }
h3, .h3 { font-size: 1.5rem }
h4, .h4 { font-size: 1.4rem }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .75rem }

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@apply font-fira text-black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-rift font-bold text-black;
}

p {
	@apply leading-normal;
	//Se över den här skiten
	&.light {
		@apply text-white;
	}
}

strong,
.strong { @apply font-bold; }

em, .em,
i, .i { 
	@apply italic;
}

a {
	@apply no-underline text-black;
}

table {
	@apply w-full max-w-full;
}

th { 
	@apply font-bold align-bottom text-center;
}	

img {
	@apply align-middle;
}

ul, ol {
	@apply p-0;
}

pre,
code,
kbd,
samp {
	@apply text-base;
}

pre {
	@apply mt-0 overflow-auto;
}

sub,
sup {
	@apply relative text-sm leading-none;
}

figcaption {
	@apply text-sm italic;
}

hr {
	@apply h-px border-none bg-grey-light;
}

input {
	@apply font-fira;
	transition:box-shadow 0.25s;
    &::placeholder {
        @apply text-grey-light opacity-75;
    }
    &:focus {
        @apply outline-none;
        box-shadow: 0 0 0px 2px rgba(255,255,255,0.2);
    }
}

button {
	@apply leading-none appearance-none text-base p-0 rounded-none;
}