.article {
	border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 1.66756px 8.33779px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    background-color:$white;
	&__excerpt {
		position:relative;
		max-height:45px;
		overflow:hidden;
		margin-top:$space-3;
		font-size:.95rem;
		font-style:italic;
		color:palette(black, x-light);
		@media (min-width:$breakpoint-md){
			max-height:50px;
		}
	}

	&__title {
		font-size:1.5rem;
		@media (min-width:$breakpoint-md){
			font-size:1.5rem;
		}
		
	}

	&__content {
		padding:$space-3 $space-3 $space-2 $space-3;
	}

	&__img-container {
		overflow: hidden;
		position:relative;
		background-color:palette(black, base);
		padding-bottom:66%;
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
}