.st-carousel-section {
	border-bottom:1px solid palette(grey, x-light);
}

.st-carousel {
	outline:none;
}

.st-carousel__title {
	font-family:$st-font;
}

.st-carousel-next, .st-carousel-previous {
	position:absolute;
	z-index:$z4;
	right:0;
	top:50%;
	transform:translateY(-50%);
	outline:none;
}

.st-carousel-previous {
	left:-$space-2;
	@media (min-width:$breakpoint-sm) {
		left:-$space-3;
	}
}

.st-carousel-next {
	right:-$space-2;
	@media (min-width:$breakpoint-sm) {
		right:-$space-3;
	}
}