.st-list__header {
	height:65vh;
	background:$st-primary-color;
}


.plant-img {
	width:90px;
	@media (min-width:$breakpoint-sm) {
		width:200px;
	}
}

.st-list__title {
	font-family:$st-font;
	line-height:1.25;
	@media (min-width:$breakpoint-sm) {
		font-size:3.25rem;
	}

}

