.st-map {
	width: 100%;
	height: 100vh;
	height: calc(100vh - 148px);

	@media screen and (min-width: $breakpoint-sm) {
		height: calc(100vh - 113px);
	}

	@media screen and (min-width: $breakpoint-lg) {
		height: calc(100vh - 127px);
	}
}