.st-thumbnail {
  flex: 1;
  border: 1px solid palette(grey, light);
  border-radius:$border-radius;
  box-shadow: 0px 1.66756px 8.33779px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  max-width: 225px;
  width:225px;
  overflow:hidden;
  background:$white;
  @media screen and (min-width: $breakpoint-sm) {
    display: inline-flex;
    max-width:none;
    width:auto;
    flex-wrap: nowrap;
    transition:background 0.25s;
    &:hover {
      background:palette(grey, xx-light);
    }
  }
}

.st-thumbnail__img-container {
	  width: 100%;
    height: auto;
    padding-bottom: 66.6667%;
    flex: 0 0 100%;
    background: palette(black, base);
  	overflow:hidden;
    position:relative;
    @media screen and (min-width: $breakpoint-sm) {
      width: 80px;
      padding-bottom:0;
      height: 80px;
      flex: 0 0 80px;
    }

  	img {
  		height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
  	}
}

.st-thumbnail__content {
  display: flex;
  align-items: center;
  padding:$space-3 $space-3;
  @media screen and (min-width: $breakpoint-sm) {
  	padding:0 $space-3;
  }
}

.st-thumbnail__btn {
	width:22.5px;
	height:22.5px;
  flex: 0 0 22.5px;
	background:$st-secondary-color;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:50%;
	@media screen and (min-width: $breakpoint-sm) {
        width:27.5px;
        height:27.5px;
        flex: 0 0 27.5px;
	}
}

.st-thumbnail__btn-icon {
	width:12.5px;
	height:12.5px;
}


.st-thumbnail__title {
	font-size:1.2rem;
}
