.meet-a-local-header {
	&__img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	&__img-container{
		overflow:hidden;
		position:relative;
		background-color:palette(black, base);
		padding-bottom:125%;
		background-color:palette(black, base);
		@media(min-width:$breakpoint-sm) {
			padding-bottom:56.25%;
		}
		&::after {
			content:'';
			background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='37'%3E%3Cpath fill='%23FFF' d='M0 10.427c213.803 7.342 470.91 6.059 771.324-3.848C1071.738-3.33 1294.63-2.046 1440 10.427V37H0V10.427z'/%3E%3C/svg%3E");
			background-size:contain;
			background-position:bottom center;
			vertical-align: bottom;
			height:100px;
			width:100%;
			position:absolute;
			bottom:-5px;
			left:0;
			right:0;
			background-repeat:no-repeat;
		}
	}
	&__inner {
		padding:0 $space-3;
		@media(min-width:$breakpoint-sm) {
			padding:0 $space-5;
		}
		@media(min-width:$breakpoint-lg) {
			padding:0 $space-6;
		}
		z-index:$z4;
	}

	&__preamble {
		font-size:1.1em;
	    font-weight:400;
	    line-height: 1.5;
	    font-style:italic;
	    color:palette(black,dark);
	    border-width:2px;
		border-style:none;
		border-bottom:solid;
		border-top:solid;
		padding:$space-3 0;
		border-image: url('../../src/graphics/border-top-dark.png') 3 round;
	}

	&__content {
		padding:$space-2 0;
		margin-top:$space-2;
		@media(min-width:$breakpoint-sm) {
			padding:$space-2 $space-4;
			margin-top:$space-3;
		}
		@media(min-width:$breakpoint-lg) {
			padding:$space-2 $space-5;
		}
	}
}


.meet-a-local-body > p {
		&:first-of-type:first-letter {
		    font-family: $rift-font-family;
			float: left;
			font-weight:bold;
			color:palette(black, dark);
			font-size: 4.7em;
			line-height: 0.90;
			vertical-align: top;
			padding-right: 12px;
		}
}






.meet-a-local-tips {
	position: relative;
}


.tip {
	margin-right:$space-3;

	&__img-container {
		overflow: hidden;
		position:relative;
		border-radius:$border-radius;
		padding-bottom:56.25%;
		background-color:palette(black, base);
		@media(min-width:$breakpoint-sm) {
			padding-bottom:66.66%;
		}
	}

	&__img {
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}

	&__content {

	}
	&__links {
		border-width:2px;
		border-style:none;
		border-top:solid;
		padding:$space-3 0;
		border-image: url('../../src/graphics/border-top-dark.png') 3 round;
	}

	&__btn {
		&:nth-child(1) {
			margin:0;
		}
		display: inline-block;
		margin:$space-2 0 0 0;
		@media(min-width:$breakpoint-sm) {
			&:nth-child(1) {
				margin:0;
			}
			margin:0 0 0 $space-2;
		}
	}

	&__quote {
		font-style:italic;
	}
}