.meet-a-local-tips {
	position: relative;
	margin:$space-4 0;
	padding:$space-5 $space-3;
	@media (min-width:$breakpoint-sm) {
		padding:$space-5 $space-5;
	}
	@media (min-width:$breakpoint-lg) {
		padding:$space-5 $space-6;
	}
}