.meet-a-local-body > p {
		&:first-of-type:first-letter {
		    font-family: $rift-font-family;
			float: left;
			font-weight:bold;
			color:palette(black, dark);
			font-size: 4.7em;
			line-height: 0.90;
			vertical-align: top;
			padding-right: 12px;
		}
}