.header-search {
    @apply mt-2;
    @screen md {
        @apply mt-0;
        @apply h-16;
    }
}

.header-search__input {
    border:none;
    -webkit-appearance:none;
    padding:0.625rem 1.125rem;
    display:none;
    transition:box-shadow 0.25s;
    &::placeholder {
        color:palette(grey, light);
        opacity:0.75;
    }
    &:focus {
        outline:none;
        box-shadow: 0 0 0px 2px rgba(255,255,255,0.2);
    }
    @screen xl {
        @apply block;
        width:275px;
    }
}

.header-search__button {
    height:32px;
    width:32px;
    transition:box-shadow 0.25s;
    svg {
        height:16px;
        width:16px;
    }
    &:focus {
        outline:none;
        box-shadow: 0 0 0px 2px rgba(255,255,255,0.2);
    }
    @screen lg {
        position:absolute;
        top:50%;
        right:$space-2;
        transform:translateY(-50%);
    }
}