.primary-header__inner {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @media (min-width:$breakpoint-md) {
        justify-content:space-between;
        flex-wrap:nowrap;
    }
}

.primary-header__logo-container {
    height:40px;
    @media (min-width:$breakpoint-sm) {
        height:70px;
    }
}

.primary-header__logo {
    @media (min-width:$breakpoint-sm) {
        max-width:250px;
        margin-top:5px;
    }
    @media (min-width:$breakpoint-md) {
        max-width:270px;
    }
}