.nav {
    height:50px;
    @media (min-width:$breakpoint-md) {
        flex:1;
        height:70px;
        justify-content:flex-end;
    }
}

.nav__ul {
    display:flex;
    justify-content:space-between;
    @media (min-width:$breakpoint-sm) {
        justify-content:flex-start;
    }
    @media (min-width:$breakpoint-md) {
        justify-content:flex-end;
    }
}

.nav__item {
    @media (min-width:$breakpoint-sm) {
        margin-right:$space-4;
    }
    @media (min-width:$breakpoint-md) {
        margin-left:$space-3;
        margin-right:0;
    }
    @media (min-width:$breakpoint-lg) {
        margin-right:0;
        margin-left:$space-4;
    }
}

.nav__icon {
    height:22px;
    width:22px;
    svg {
        height:10px;
        width:10px;
    }
}

.nav__link, .nav__button {
    outline:none;
}