.date-badge {
	padding:$space-2 $space-2;
	border-radius:$border-radius;
	color:$white;
	@include themify {
		background:$color-primary;
	}
	&__day {
		font-family: $rift-font-family;
		font-weight:bold;
		display:block;
		text-align:center;
		font-size:1em;
		line-height: 1;
	}
	&__month {
		font-weight:bold;
		font-size:0.7em;
		font-family: $rift-font-family;
		display:block;
		text-align:center;
	}
}