.details {
	padding:$space-3 0;
	position:relative;
	border-width:2px;
	border-style:none;
	border-bottom:solid;
	border-top:solid;
	margin-top:$space-4;
	border-image: url('../../Assets/graphics/border-top-dark.png') 3 round;
	&__section {
		padding:$space-2 $space-3;
	}

	&__icon {
		@include themify {
		 	color:$color-primary;
		}
	}
	&__section-label {
		font-family: $shelby-font-family;
		font-size:1.35em;
		color:palette(grey, x-dark);
		margin-bottom:$space-2;

	}

	&__open {
		padding:$space-2;
		border-radius: $border-radius;
		font-family: $shelby-font-family;
		font-size:1.5em;
		line-height:0.5;
		background:#ee4340;
	}

	&__closed {
		padding:$space-2;
		border-radius: $border-radius;
	}

	&__phone {
		font-family: $rift-font-family;
		font-size:1.2em;
		vertical-align: top;
		font-weight:bold;
		i {
			vertical-align: middle;
		}
	}

	&__open-hours {

	}

	&__open-hour {
		font-family: $rift-font-family;
		font-weight:bold;
		padding:$space-2 0;
		font-size:1.1em;
		border-width:2px;
		border-style:none;
		border-top:solid;
		padding:$space-2 0;
		border-image: url('../../Assets/graphics/border-top-dark.png') 3 round;
	}
}